---
const pageTitle = "演员 Top 50";
const subtitle = "按观影量排名 · 个人观影统计";

const actors = [
  {
    rank: 1,
    name: "刘德华",
    region: "中国香港",
    count: 34,
    records: [
      "焚城","投奔怒海","桃姐","醉拳2","流浪地球2","唐人街探案3","无间道","无间道3：终极无间",
      "谈判专家","拆弹专家2","93国际列车大劫案：莫斯科行动","扫毒2：天地对决","天下无贼",
      "阿飞正传","旺角卡门","解救吾先生","十面埋伏","长城","寒战","追龙","门徒",
      "狄仁杰之通天帝国","整蛊专家","赌神","澳门风云2","澳门风云3","暗战","盲探","金鸡",
      "投名状","天若有情","三国之见龙卸甲","侠盗联盟","红毯先生",
    ],
    collab: "王晶（4）、邱礼涛（4）",
    awards: "金马影帝（2次）、金像影帝（3次）、金像男配、华表影帝",
    top1000: 9,
  },
  {
    rank: 2,
    name: "布拉德·皮特",
    region: "美国",
    count: 33,
    records: [
      "大河恋","点球成金","本杰明·巴顿奇事","七宗罪","搏击俱乐部","史密斯夫妇","无耻混蛋","好莱坞往事",
      "死侍2：我爱我家","僵尸世界大战","末路狂花","十二猴子","子弹列车","F1：狂飙飞车","狂怒","偷拐抢骗",
      "十一罗汉","十二罗汉","十三罗汉","特洛伊","迷失之城","8号提案 舞台剧版","真实罗曼史","巴比伦","大空头",
      "通天塔","夜访吸血鬼","成为约翰·马尔科维奇","第六感生死缘","燃情岁月","生命之树","为奴十二年","双狼",
    ],
    collab: "大卫·芬奇（3）、史蒂文·索德伯格（3）",
    awards: "奥斯卡男配、威尼斯影帝",
    top1000: 9,
  },
  {
    rank: 3,
    name: "梁家辉",
    region: "中国香港",
    count: 29,
    records: [
      "一代妖后","李碧华鬼魅系列：迷离夜","饺子","跟踪","情人","十月围城","新难兄难弟","射雕英雄传之东成西就",
      "东邪西毒","新龙门客栈","射雕英雄传：侠之大者","智取威虎山","狄仁杰之通天帝国","捕风追影","寒战","寒战2",
      "黑社会","追龙2","赌神2","双瞳","监狱风云","目露凶光","阮玲玉","太极1:从零开始","黄飞鸿之英雄有梦","金鸡",
      "我爱你！","封神传奇",
    ],
    collab: "徐克（3）",
    awards: "金马影帝、金马男配、金像影帝（4次）、金像男配",
    top1000: 2,
  },
  {
    rank: 4,
    name: "马特·达蒙",
    region: "美国",
    count: 27,
    records: [
      "星际穿越","火星救援","最后的决斗","心灵捕手","心灵访客","拯救大兵瑞恩","死侍2：我爱我家","闹事之徒",
      "谍影重重","谍影重重2","谍影重重3","谍影重重5","雷神3：诸神黄昏","长城","极速车王","十一罗汉","十二罗汉",
      "十三罗汉","传染病","大地惊雷","成事在人","造雨人","天才瑞普利","奥本海默","气垫传奇","无间道风云","全信没收",
    ],
    collab: "保罗·格林格拉斯（4）、史蒂文·索德伯格（4）",
    awards: "无",
    top1000: 7,
  },
  {
    rank: 5,
    name: "梁朝伟",
    region: "中国香港",
    count: 26,
    records: [
      "重庆森林","春光乍泄","一代宗师","花样年华","东邪西毒","2046","阿飞正传","无间道","无间道2","无间道3：终极无间",
      "听风者","色，戒","无名","射雕英雄传之东成西就","英雄","大魔术师","癫佬正传","赤壁（上）","赤壁（下）",
      "喋血街头","暗花","悲情城市","海上花","新难兄难弟","三轮车夫","天下无双",
    ],
    collab: "王家卫（7）、麦兆辉（4）、刘伟强（3）、吴宇森（3）",
    awards: "戛纳影帝、威尼斯终身成就奖、金马影帝（3次）、金像影帝（6次）、金像男配（2次）、金鸡影帝、塔林黑夜影帝",
    top1000: 17,
  },
  {
    rank: 6,
    name: "罗伯特·德尼罗",
    region: "美国",
    count: 25,
    records: [
      "好家伙","爱尔兰人","出租车司机","赌城风云","愤怒的公牛","喜剧之王","穷街陋巷","纽约，纽约","花月杀手","盗火线",
      "猎鹿人","教父2","小丑","美国往事","实习生","一九零零","男孩的生活","捉迷藏","午夜狂奔","教父家族","黑暗之心",
      "妙想天开","危险关系","怒海潜将",
    ],
    collab: "马丁·斯科塞斯（9）",
    awards: "奥斯卡影帝、奥斯卡男配、戛纳终身成就奖、柏林终身成就奖、圣塞巴斯蒂安终身成就奖",
    top1000: 15,
  },
  {
    rank: 7,
    name: "巩俐",
    region: "中国大陆",
    count: 23,
    records: [
      "新天龙八部之天山童姥","少年汉尼拔","漂亮妈妈","画魂","2046","爱神","艺伎回忆录","活着","大红灯笼高高挂","红高粱",
      "归来","菊豆","秋菊打官司","满城尽带黄金甲","霸王别姬","风月","荆轲刺秦王","唐伯虎点秋香","兰心大剧院","夺冠",
      "西游记之孙悟空三打白骨精","花木兰","一代妖后",
    ],
    collab: "张艺谋（7）、陈凯歌（3）",
    awards: "威尼斯影后、金鸡影后（2次）、金像影后、百花影后（2次）、百花女配",
    top1000: 9,
  },
  {
    rank: 8,
    name: "朱利安·摩尔",
    region: "美国",
    count: 22,
    records: [
      "推动摇篮的手","隔壁房间","邦尼和琼","木兰花","不羁夜","远离天堂","安然无恙","五月十二月","人类之子","银色·性·男女",
      "单身男子","依然爱丽丝","谋杀绿脚趾","时时刻刻","来自俄亥俄的获奖者","空中营救","亡命天涯","汉尼拔",
      "饥饿游戏3：嘲笑鸟（上）","饥饿游戏3：嘲笑鸟（下）","侏罗纪公园2：失落的世界","王牌特工2：黄金圈",
    ],
    collab: "托德·海因斯（3）",
    awards: "奥斯卡影后、戛纳影后、柏林影后、威尼斯影后、卡罗维发利终身成就奖、英国电影学院影后",
    top1000: 8,
  },
  {
    rank: 9,
    name: "张国荣",
    region: "中国香港",
    count: 22,
    records: [
      "霸王别姬","风月","倩女幽魂","倩女幽魂2：人间道","春光乍泄","东邪西毒","阿飞正传","射雕英雄传之东成西就","英雄本色",
      "英雄本色2","纵横四海","胭脂扣","家有喜事","金玉满堂","左右情缘","流星语","男生女相：华语电影之性别","金枝玉叶",
      "金枝玉叶2","色情男女","枪王","星月童话",
    ],
    collab: "王家卫（3）、吴宇森（3）",
    awards: "金像影帝",
    top1000: 9,
  },
  {
    rank: 10,
    name: "尼古拉斯·凯奇",
    region: "美国",
    count: 22,
    records: [
      "我心狂野","极速60秒","鸟人","居家男人","天才不能承受之重","梦想情景","抚养亚利桑纳","勇闯夺命岛","空中监狱","斗鱼",
      "变脸","闪电侠","火柴人","战争之王","国家宝藏","国家宝藏：夺宝秘笈","神秘代码","灵魂战车","灵魂战车2：复仇时刻",
      "魔法师的学徒","女巫季节","长腿",
    ],
    collab: "乔·德特杜巴（3）",
    awards: "奥斯卡影帝",
    top1000: 4,
  },
    {
    rank: 11,
    name: "约翰尼·德普",
    region: "美国",
    count: 22,
    records: [
      "忠奸人","天生爱情狂","剪刀手爱德华","查理和巧克力工厂","艾德·伍德","爱丽丝梦游仙境","爱丽丝梦游仙境2：镜中奇遇记",
      "加勒比海盗","加勒比海盗2：亡灵的宝藏","加勒比海盗3：世界的尽头","加勒比海盗4：惊涛怪浪","加勒比海盗5：死无对证",
      "神奇动物在哪里","神奇动物：格林德沃之罪","东方快车谋杀案","不一样的天空","野战排","猛鬼街","邦尼和琼","离魂异客",
      "浓情巧克力","亚利桑那之梦",
    ],
    collab: "蒂姆·伯顿（4）、戈尔·维宾斯基（3）",
    awards: "圣塞巴斯蒂安终身成就奖",
    top1000: 7,
  },
  {
    rank: 12,
    name: "周润发",
    region: "中国香港",
    count: 22,
    records: [
      "姨妈的后现代生活","独自等待","让子弹飞","无双","英雄本色","英雄本色2","纵横四海","喋血双雄","卧虎藏龙","秋天的童话",
      "加勒比海盗3：世界的尽头","赌神","赌神2","澳门风云","澳门风云2","澳门风云3","满城尽带黄金甲","监狱风云","阿郎的故事",
      "大上海","癫佬正传","寒战2",
    ],
    collab: "王晶（5）、杜琪峰（4）",
    awards: "金马影帝（2次）、金像影帝（3次）",
    top1000: 7,
  },
  {
    rank: 13,
    name: "刘嘉玲",
    region: "中国香港",
    count: 22,
    records: [
      "让子弹飞","射雕英雄传之东成西就","无间道2","无间道3:终极无间","东邪西毒","2046","阿飞正传","大内密探零零发",
      "狄仁杰之神都龙王","狄仁杰之通天帝国","狄仁杰之四大天王","阮玲玉","海上花","妈阁是座城","澳门风云2","澳门风云3",
      "新不了情","新难兄难弟","金枝玉叶","金枝玉叶2","自梳","明日战记",
    ],
    collab: "徐克（3）",
    awards: "金像影后、金鸡影后",
    top1000: 8,
  },
  {
    rank: 14,
    name: "成龙",
    region: "中国香港",
    count: 22,
    records: [
      "新宿事件","侠女","忠烈图","喜剧之王","十二生肖","英伦对决","功夫之王","A计划","警察故事","天将雄师","飞鹰计划","奇迹",
      "醉拳","醉拳2","红番区","警察故事3：超级警察","尖峰时刻","尖峰时刻2","我是谁","新警察故事","宝贝计划","捕风追影",
    ],
    collab: "自导自演（6）、陈木胜（3）",
    awards: "奥斯卡终身成就奖、金马影帝（2次）",
    top1000: 3,
  },
  {
    rank: 15,
    name: "莱昂纳多·迪卡普里奥",
    region: "美国",
    count: 21,
    records: [
      "泰坦尼克号","盗梦空间","猫鼠游戏","禁闭岛","华尔街之狼","飞行家","花月杀手","无间道风云","被解救的姜戈","好莱坞往事",
      "荒野猎人","血钻","不要抬头","革命之路","不一样的天空","边缘日记","男孩的生活","心之全蚀","了不起的盖茨比","谎言之躯",
      "一战再战",
    ],
    collab: "马丁·斯科塞斯（5）",
    awards: "奥斯卡影帝、柏林影帝",
    top1000: 7,
  },
  {
    rank: 16,
    name: "古天乐",
    region: "中国香港",
    count: 21,
    records: [
      "九龙城寨之围城","门徒","宝贝计划","扫毒","扫毒2天地对决","使徒行者","使徒行者2：谍影行动","毒战","黑社会","黑社会2：以和为贵",
      "窃听风云","窃听风云2","窃听风云3","反贪风暴","反贪风暴2","反贪风暴3","反贪风暴4","追龙2","梅艳芳","封神传奇","明日战记",
    ],
    collab: "林德禄（4）、杜琪峰（3）、麦兆辉（3）、庄文强（3）",
    awards: "金像影帝",
    top1000: 1,
  },
  {
    rank: 17,
    name: "摩根·弗里曼",
    region: "美国",
    count: 21,
    records: [
      "肖申克的救赎","蝙蝠侠：黑暗骑士","蝙蝠侠：黑暗骑士崛起","蝙蝠侠：侠影之谜","百万美元宝贝","不可饶恕","成事在人","为黛西小姐开车",
      "伦敦陷落","天使陷落","奥林匹斯的陷落","赤焰战场","惊天魔盗团","惊天魔盗团2","超体","遗愿清单","七宗罪","极度恐慌","勇者无畏","光荣战役","典当商",
    ],
    collab: "克里斯托弗·诺兰（3）、克林特·伊斯特伍德（3）",
    awards: "奥斯卡男配、柏林影帝",
    top1000: 8,
  },
  {
    rank: 18,
    name: "周星驰",
    region: "中国香港",
    count: 20,
    records: [
      "大话西游之大圣娶亲","大话西游之月光宝盒","回魂夜","长江七号","少林足球","功夫","大内密探零零发","破坏之王","食神","国产凌凌漆","喜剧之王",
      "唐伯虎点秋香","九品芝麻官","鹿鼎记","鹿鼎记2：神龙教","整蛊专家","家有喜事","武状元苏乞儿","逃学威龙","西游伏妖篇",
    ],
    collab: "自导自演（7）、李力持（5）、王晶（4）、刘镇伟（3）",
    awards: "金像影帝、金马男配",
    top1000: 1,
  },
  {
    rank: 19,
    name: "巴斯特·基顿",
    region: "美国",
    count: 20,
    records: [
      "日落大道","福尔摩斯二世","将军号","七次机会","一周","待客之道","稻草人","船长二世","摄影师","邻居们","航海家","警察","13号囚犯","替罪羊","暗号",
      "剧院","电气化屋子","白日梦","时光快车","舞台春秋",
    ],
    collab: "自导自演（18）",
    awards: "奥斯卡终身成就奖",
    top1000: 9,
  },
  {
    rank: 20,
    name: "张曼玉",
    region: "中国香港",
    count: 19,
    records: [
      "花样年华","东邪西毒","阿飞正传","2046","旺角卡门","甜蜜蜜","青蛇","新龙门客栈","英雄","家有喜事","阮玲玉","人在纽约","警察故事","射雕英雄传之东成西就",
      "滚滚红尘","东方三侠","客途秋恨","警察故事3：超级警察",
    ],
    collab: "王家卫（5）",
    awards: "戛纳影后、柏林影后、金马影后（4次）、金马女配、金像影后（5次）",
    top1000: 11,
  },
  {
    rank: 21,
    name: "黄渤",
    region: "中国大陆",
    count: 19,
    records: [
      "疯狂的石头","无人区","疯狂的外星人","疯狂的赛车","记忆大师","人再囧途之泰囧","我和我的家乡","大灌篮",
      "戏台","斗牛","上车走吧","西游降魔篇","寻龙诀","封神第一部：朝歌风云","封神第二部：战火西岐",
      "夺冠","亲爱的","每当变幻时","涉过愤怒的海",
    ],
    collab: "宁浩（4）、乌尔善（3）",
    awards: "金马影帝",
    top1000: 1,
  },
  {
    rank: 22,
    name: "阿尔·帕西诺",
    region: "美国",
    count: 19,
    records: [
      "教父","教父2","教父3","爱尔兰人","好莱坞往事","盗火线","魔鬼代言人","十三罗汉","热天午后","疤面煞星",
      "情枭的黎明","古驰家族","惊曝内幕","莎乐美","王尔德的莎乐美","死亡医生","闻香识女人","教父家族","忠奸人",
    ],
    collab: "弗朗西斯·福特·科波拉（3）",
    awards: "奥斯卡影帝、圣塞巴斯蒂安影帝",
    top1000: 9,
  },
  {
    rank: 23,
    name: "梅丽尔·斯特里普",
    region: "美国",
    count: 19,
    records: [
      "穿普拉达的女王","小妇人","廊桥遗梦","不要抬头","时时刻刻","华盛顿邮报","走出非洲","朱莉与茱莉亚",
      "克莱默夫妇","妇女参政论者","铁娘子：坚固柔情","曼哈顿","猎鹿人","八月：奥色治郡","苏菲的抉择",
      "妈妈咪呀2","金色豪门","亲情无价","茱莉亚",
    ],
    collab: "无",
    awards: "奥斯卡影后（2次）、奥斯卡女配、戛纳影后、戛纳终身成就奖、柏林影后、柏林终身成就奖、英国电影学院影后、圣塞巴斯蒂安终身成就奖",
    top1000: 6,
  },
  {
    rank: 24,
    name: "蒂尔达·斯文顿",
    region: "英国",
    count: 19,
    records: [
      "复仇者联盟4：终局之战","本杰明·巴顿奇事","杀手","布达佩斯大饭店","月升王国","康斯坦丁","奥兰多","卡拉瓦乔",
      "花园","英格兰末日","维特根斯坦","奇异博士","雪国列车","纳尼亚传奇1：狮子女巫和魔衣橱",
      "纳尼亚传奇2：凯斯宾王子","纳尼亚传奇3：黎明踏浪号","记忆","阴风阵阵","隔壁房间",
    ],
    collab: "德里克·贾曼（4）",
    awards: "奥斯卡女配、柏林终身成就奖、威尼斯影后、威尼斯终身成就奖、英国电影学院女配",
    top1000: 5,
  },
  {
    rank: 25,
    name: "吴彦祖",
    region: "中国香港",
    count: 19,
    records: [
      "玻璃之城","新警察故事","宝贝计划","滚蛋吧！肿瘤君","十二生肖","新宿事件","门徒","大魔术师","魔兽","夜宴",
      "窃听风云","窃听风云2","窃听风云3","古墓丽影：源起之战","新扎师妹","全球风暴","太极1：从零开始",
      "王的盛宴","解密",
    ],
    collab: "尔冬升（3）、庄文强（3）、麦兆辉（3）",
    awards: "金马男配",
    top1000: 1,
  },
  {
    rank: 26,
    name: "斯嘉丽·约翰逊",
    region: "美国",
    count: 19,
    records: [
      "马语者","婚姻故事","乔乔的异想世界","致命魔术","复仇者联盟","复仇者联盟2：奥创纪元",
      "复仇者联盟3：无限战争","复仇者联盟4：终局之战","美国队长2","美国队长3","超体","惊奇队长",
      "钢铁侠2","迷失东京","赛末点","缺席的人","皮囊之下","腓尼基计划","侏罗纪世界：重生",
    ],
    collab: "罗素兄弟（4）",
    awards: "英国电影学院影后",
    top1000: 3,
  },
  {
    rank: 27,
    name: "裘德·洛",
    region: "英国",
    count: 19,
    records: [
      "千钧一发","布达佩斯大饭店","人工智能","惊奇队长","神奇动物：格林德沃之罪","神奇动物：邓布利多之谜",
      "大侦探福尔摩斯","大侦探福尔摩斯2：诡影游戏","亚瑟王：斗兽争霸","雨果","飞行家","传染病","女间谍",
      "天才瑞普利","冷山","感官游戏","蓝莓之夜","兵临城下","伊甸",
    ],
    collab: "无",
    awards: "英国电影学院男配",
    top1000: 4,
  },
  {
    rank: 28,
    name: "休·杰克曼",
    region: "澳大利亚",
    count: 19,
    records: [
      "致命魔术","死侍2：我爱我家","X战警：第一战","X战警：天启","X战警","X战警2","X战警3：背水一战",
      "X战警：逆转未来","失控玩家","铁甲钢拳","博物馆奇妙夜3","死侍与金刚狼","金刚狼3：殊死一战",
      "马戏之王","囚徒","我和厄尔以及将死的女孩","超能查派","飞鹰艾迪","剑鱼行动",
    ],
    collab: "肖恩·利维（4）、布莱恩·辛格（3）",
    awards: "圣塞巴斯蒂安终身成就奖",
    top1000: 1,
  },
  {
    rank: 29,
    name: "小罗伯特·唐尼",
    region: "美国",
    count: 19,
    records: [
      "法官老爹","卓别林","复仇者联盟","复仇者联盟2：奥创纪元","复仇者联盟3：无限战争",
      "复仇者联盟4：终局之战","美国队长3","钢铁侠","钢铁侠2","钢铁侠3","蜘蛛侠：英雄归来",
      "蜘蛛侠：英雄远征","奥本海默","大侦探福尔摩斯","大侦探福尔摩斯2：诡影游戏",
      "十二宫","天生杀人狂","爱神","银色·性·男女",
    ],
    collab: "罗素兄弟（3）",
    awards: "奥斯卡男配、英国电影学院影帝、英国电影学院男配",
    top1000: 3,
  },
  {
    rank: 30,
    name: "张译",
    region: "中国大陆",
    count: 18,
    records: [
      "三大队","亲爱的","追凶者也","我不是潘金莲","满江红","第二十条","悬崖之上","狙击手","万里归途",
      "黄金时代","我和我的家乡","红海行动","老炮儿","八佰","山河故人","江湖儿女","绣春刀2：修罗战场","峰爆",
    ],
    collab: "张艺谋（4）",
    awards: "金鸡影帝、金鸡男配、华表影帝（2次）、百花影帝",
    top1000: 2,
  },
  {
    rank: 31,
    name: "刘青云",
    region: "中国香港",
    count: 18,
    records: [
      "目露凶光","拆弹专家2","谈判专家","我左眼见到鬼","神探","暗战","扫毒","窃听风云","窃听风云2","窃听风云3",
      "廉政风云","大魔术师","新不了情","色情男女","非常突然","暗花","一个字头的诞生","明日战记",
    ],
    collab: "麦兆辉（4）、杜琪峰（3）、韦家辉（3）、尔冬升（3）、庄文强（3）",
    awards: "金马影帝、金像影帝（4次）",
    top1000: 3,
  },
  {
    rank: 32,
    name: "章子怡",
    region: "中国大陆",
    count: 18,
    records: [
      "茉莉花开","最爱","艺伎回忆录","卧虎藏龙","2046","一代宗师","无问西东","罗曼蒂克消亡史","十面埋伏","英雄",
      "我的父亲母亲","尖峰时刻2","哥斯拉2：怪兽之王","我和我的父辈","太平轮（上）","太平轮（下）：彼岸","夜宴","酱园弄·悬案",
    ],
    collab: "张艺谋（3）",
    awards: "金马影后、金像影后（2次）、金鸡影后、华表影后（3次）、百花影后（2次）",
    top1000: 5,
  },
  {
    rank: 33,
    name: "罗素·克劳",
    region: "新西兰",
    count: 18,
    records: [
      "耐撕侦探","悲惨世界","角斗士","美国黑帮","谎言之躯","洛城机密","新木乃伊","危情三日","铁拳男人","美丽心灵",
      "扎克·施耐德版正义联盟","超人：钢铁之躯","惊曝内幕","有史以来最棒的啤酒运送","决战犹马镇","雷神4：爱与雷霆",
      "教皇的驱魔人","惊天激战",
    ],
    collab: "雷德利·斯科特（3）",
    awards: "奥斯卡影帝",
    top1000: 3,
  },
  {
    rank: 34,
    name: "丹泽尔·华盛顿",
    region: "美国",
    count: 18,
    records: [
      "费城故事","训练日","伸冤人","伸冤人2","伸冤人3","怒火救援","红潮风暴","时空线索","危情时速","美国黑帮",
      "角斗士2","迫在眉梢","光辉岁月","飓风","光荣战役","黑潮","局内人","天国与地狱",
    ],
    collab: "安东尼·福奎阿（4）、托尼·斯科特（4）、斯派克·李（3）",
    awards: "奥斯卡影帝、戛纳终身成就奖、柏林影帝",
    top1000: 2,
  },
  {
    rank: 35,
    name: "李连杰",
    region: "中国大陆",
    count: 18,
    records: [
      "花木兰","英雄","投名状","龙门飞甲","黄飞鸿","黄飞鸿之二：男儿当自强","黄飞鸿之三：狮王争霸","笑傲江湖2：东方不败",
      "倚天屠龙记之魔教教主","功夫之王","木乃伊3","太极张三丰","精武英雄","少林寺","方世玉","给爸爸的信",
      "新少林五祖","封神传奇",
    ],
    collab: "徐克（4）",
    awards: "金像影帝",
    top1000: 1,
  },
  {
    rank: 36,
    name: "汤姆·汉克斯",
    region: "美国",
    count: 17,
    records: [
      "阿甘正传","荒岛余生","猫鼠游戏","拯救大兵瑞恩","幸福终点站","华盛顿邮报","间谍之桥","云图","萨利机长",
      "达·芬奇密码","天使与魔鬼","但丁密码","费城故事","芬奇","菲利普船长","阿波罗13号","绿里奇迹",
    ],
    collab: "史蒂文·斯皮尔伯格（5）",
    awards: "奥斯卡影帝（2次）、柏林影帝",
    top1000: 5,
  },
  {
    rank: 37,
    name: "王宝强",
    region: "中国大陆",
    count: 17,
    records: [
      "唐人街探案","唐人街探案2","唐人街探案3","我和我的家乡","解密","激战","道士下山","天下无贼","大腕","集结号",
      "天注定","人在囧途","人再囧途之泰囧","李米的猜想","盲井","Hello！树先生","最爱",
    ],
    collab: "陈思诚（4）、冯小刚（3）",
    awards: "无",
    top1000: 6,
  },
  {
    rank: 38,
    name: "凯特·布兰切特",
    region: "澳大利亚 / 美国",
    count: 17,
    records: [
      "蓝色茉莉","本杰明·巴顿奇事","指环王1:护戒使者","指环王2:双塔奇兵","指环王3:王者无敌",
      "霍比特人1:意外之旅","霍比特人2:史矛革之战","霍比特人3:五军之战","不要抬头","飞行家",
      "热血警探","夺宝奇兵4","雷神3:诸神黄昏","天才瑞普利","卡罗尔","通天塔","咖啡与香烟",
    ],
    collab: "彼得·杰克逊（6）",
    awards: "奥斯卡影后、奥斯卡女配、威尼斯影后（2次）、英国电影学院影后（3次）、圣塞巴斯蒂安终身成就奖",
    top1000: 8,
  },
  {
    rank: 39,
    name: "加里·奥德曼",
    region: "英国",
    count: 17,
    records: [
      "这个杀手不太冷","第五元素","汉尼拔","猩球崛起2：黎明之战","冰海陷落","奥本海默",
      "蝙蝠侠：黑暗骑士","蝙蝠侠：黑暗骑士崛起","蝙蝠侠：侠影之谜","至暗时刻",
      "哈利·波特与凤凰社","哈利·波特与火焰杯","哈利·波特与阿兹卡班的囚徒",
      "哈利·波特与死亡圣器（下）","刺杀肯尼迪","真实罗曼史","王牌保镖",
    ],
    collab: "克里斯托弗·诺兰（4）",
    awards: "奥斯卡影帝、英国电影学院影帝",
    top1000: 6,
  },
  {
    rank: 40,
    name: "葛优",
    region: "中国大陆",
    count: 17,
    records: [
      "霸王别姬","让子弹飞","活着","有话好好说","天下无贼","甲方乙方","夜宴","大腕","我和我的家乡",
      "罗曼蒂克消亡史","古董局中局","顽主","大撒把","决战之后","过年","刺猬","半生缘",
    ],
    collab: "冯小刚（4）",
    awards: "戛纳影帝、金鸡影帝、华表影帝、百花影帝（3次）、百花男配",
    top1000: 8,
  },
  {
    rank: 41,
    name: "张涵予",
    region: "中国大陆",
    count: 17,
    records: [
      "红海行动","湄公河行动","老炮儿","长津湖","长津湖之水门桥","智取威虎山","风声","天下无贼","一九四二",
      "大腕","集结号","铁道英雄","鸿门宴传奇","长城","李米的猜想","十月围城","93国际列车大劫案：莫斯科行动",
    ],
    collab: "冯小刚（4）、徐克（3）",
    awards: "金马影帝、金鸡影帝、华表影帝、百花影帝",
    top1000: 5,
  },
  {
    rank: 42,
    name: "娜塔莉·波特曼",
    region: "美国",
    count: 16,
    records: [
      "这个杀手不太冷","黑天鹅","V字仇杀队","湮灭","盗火线",
      "星球大战前传1：幽灵的威胁","星球大战前传2：克隆人的进攻","星球大战前传3：西斯的复仇",
      "雷神","雷神2：黑暗世界","雷神4：爱与雷霆","复仇者联盟4：终局之战",
      "冷山","巴黎，我爱你","五月十二月","蓝莓之夜",
    ],
    collab: "乔治·卢卡斯（3）",
    awards: "奥斯卡影后",
    top1000: 6,
  },
  {
    rank: 43,
    name: "连姆·尼森",
    region: "爱尔兰 / 英国",
    count: 16,
    records: [
      "辛德勒的名单","真爱至上","蝙蝠侠：黑暗骑士崛起","蝙蝠侠：侠影之谜","飓风营救","空中营救",
      "巴斯特·斯克鲁格斯的歌谣","星球大战前传1：幽灵的威胁","星球大战前传2：克隆人的进攻",
      "天国王朝","诸神之战","诸神之怒","危情三日","丈夫、太太与情人","天龙特工队","鬼入侵",
    ],
    collab: "无",
    awards: "威尼斯影帝",
    top1000: 7,
  },
  {
    rank: 44,
    name: "汤姆·克鲁斯",
    region: "美国",
    count: 16,
    records: [
      "壮志凌云","雨人","借刀杀人","夜访吸血鬼","好人寥寥","大开眼戒","木兰花",
      "壮志凌云2：独行侠","碟中谍","碟中谍4","碟中谍5：神秘国度","碟中谍6：全面瓦解",
      "碟中谍7：致命清算（上）","碟中谍8：最终清算","明日边缘","新木乃伊",
    ],
    collab: "克里斯托弗·麦奎里（4）",
    awards: "奥斯卡终身成就奖",
    top1000: 4,
  },
  {
    rank: 45,
    name: "克里斯蒂安·贝尔",
    region: "英国",
    count: 15,
    records: [
      "小妇人","机械师","美国精神病人","新世界","极速车王","决战犹马镇","法老与众神",
      "蝙蝠侠：黑暗骑士","蝙蝠侠：黑暗骑士崛起","蝙蝠侠：侠影之谜","致命魔术",
      "天鹅绒金矿","大空头","金陵十三钗","雷神4：爱与雷霆",
    ],
    collab: "克里斯托弗·诺兰（4）",
    awards: "奥斯卡男配",
    top1000: 5,
  },
  {
    rank: 46,
    name: "姜文",
    region: "中国大陆",
    count: 15,
    records: [
      "茉莉花开","宋家皇朝","最爱","本命年","让子弹飞","邪不压正","鬼子来了","阳光灿烂的日子",
      "太阳照常升起","芙蓉镇","寻枪","红高粱","有话好好说","关云长","图兰朵：魔咒缘起",
    ],
    collab: "自导自演（5）",
    awards: "金像男配、百花影帝（2次）",
    top1000: 6,
  },
  {
    rank: 47,
    name: "周迅",
    region: "中国大陆",
    count: 15,
    records: [
      "无名","听风者","云图","龙门飞甲","第十一回","苏州河","窃听风云3","夜宴",
      "大魔术师","荆轲刺秦王","风月","涉过愤怒的海","李米的猜想","风声","巴尔扎克与小裁缝",
    ],
    collab: "无",
    awards: "金马影后、金像影后、金像女配、金鸡影后、百花影后",
    top1000: 4,
  },
  {
    rank: 48,
    name: "查理兹·塞隆",
    region: "南非 / 美国",
    count: 15,
    records: [
      "偷天换日","速度与激情8","速度与激情9","速度与激情10","全民超人汉考克","奇异博士2：疯狂多元宇宙",
      "魔鬼代言人","普罗米修斯","疯狂的麦克斯4：狂暴之路","极寒之城","苹果酒屋法则",
      "决不让步","怒海潜将","彼得·塞勒斯的生与死","女魔头",
    ],
    collab: "无",
    awards: "奥斯卡影后、柏林影后",
    top1000: 0,
  },
  {
    rank: 49,
    name: "杨紫琼",
    region: "马来西亚",
    count: 15,
    records: [
      "宋家皇朝","警察故事3：超级警察","魔法坏女巫","魔法坏女巫2","东方三侠","艺伎回忆录",
      "剑雨","瞬息全宇宙","卧虎藏龙","阿凡达：水之道","银河护卫队2","太极张三丰","木乃伊3",
    ],
    collab: "无",
    awards: "奥斯卡影后、柏林终身成就奖",
    top1000: 2,
  },
  {
    rank: 50,
    name: "哈里森·福特",
    region: "美国",
    count: 15,
    records: [
      "银翼杀手","银翼杀手2049","星球大战","星球大战2：帝国反击战","星球大战3：绝地归来",
      "窃听大阴谋","现代启示录","夺宝奇兵","夺宝奇兵2","夺宝奇兵3","夺宝奇兵4",
      "夺宝奇兵5：命运转盘","安德的游戏","亡命天涯","黑暗之心",
    ],
    collab: "史蒂文·斯皮尔伯格（4）",
    awards: "戛纳终身成就奖",
    top1000: 8,
  },

  // 你给的内容非常长，我先把 1–10 完整落地，确保版式/排版绝对正确。
  // 你回复我“继续 11–20 / 21–30 / 31–40 / 41–50”，我就按同一结构把剩余补全。
];

const quoteWrap = (title: string) => `《${title}》`;
const renderRecords = (arr: string[]) => arr.map(quoteWrap).join("");
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
  </head>

  <body>
    <main class="page">
      <div class="top-actions">
        <a class="back-home" href="/">← 返回主页</a>
      </div>

      <header class="hero">
        <div class="hero-img">
          <img src="/andy.jpg" alt="演员 Top 50" />
        </div>

        <div class="hero-text">
          <div class="kicker">电影榜单</div>
          <h1 class="title">{pageTitle}</h1>
          <p class="subtitle">{subtitle}</p>
        </div>
      </header>

      <section class="panel">
        <ol class="grid">
          {actors.map((a) => (
            <li class="card">
              <div class="badge">{a.rank}</div>

              <div class="body">
                <div class="name-row">
                  <div class="actor-name">{a.name}</div>

                  <div class="chips">
                    <span class="chip">{a.region}</span>
                    <span class="chip">观影 {a.count}</span>
                    <span class="chip">千佳 {a.top1000}</span>
                  </div>
                </div>

                <div class="records">
                  <span class="label">观影记录：</span>
                  <span class="text">{renderRecords(a.records)}</span>
                </div>

                <div class="meta">
                  <div class="meta-row">
                    <span class="label">合作导演：</span>
                    <span class="text">{a.collab}</span>
                  </div>
                  <div class="meta-row">
                    <span class="label">奖项统计：</span>
                    <span class="text">{a.awards}</span>
                  </div>
                </div>
              </div>
            </li>
          ))}
        </ol>
      </section>

      <footer class="footnote">
        <span class="line">所谓生活，无非时间、空间和你。</span>
      </footer>
    </main>

    <style>
      body{ margin:0; font-family: system-ui,"PingFang SC","Microsoft YaHei",sans-serif; background:#fff; color:#111; }
      .page{ max-width:980px; margin:0 auto; padding:40px 20px 70px; }

      .top-actions{ display:flex; justify-content:flex-start; margin-bottom:16px; }
      .back-home{ text-decoration:none; font-size:14px; padding:6px 10px; border-radius:10px; color:#777; }
      .back-home:hover{ background:#f0f0f0; color:#111; }

      .hero-img img{ width:100%; border-radius:14px; border:1px solid #e5e5e5; }
      .hero-text{ margin-top:20px; }
      .kicker{ font-size:13px; letter-spacing:.14em; opacity:.6; }
      .title{ font-size:clamp(34px,5vw,54px); margin:8px 0 0; }
      .subtitle{ color:#777; margin-top:10px; }

      .panel{ margin-top:28px; }
      .grid{ list-style:none; padding:0; display:grid; gap:10px; }

      .card{
        display:grid;
        grid-template-columns:56px 1fr;
        gap:14px;
        padding:14px;
        background:#f5f5f5;
        border-radius:14px;
      }
      .badge{ font-weight:700; }

      .body{ display:grid; gap:10px; }

      .name-row{
        display:flex;
        align-items:baseline;
        justify-content:space-between;
        gap:12px;
      }
      .actor-name{ font-weight:650; font-size:16px; }

      .chips{ display:flex; gap:8px; flex-wrap:wrap; justify-content:flex-end; }
      .chip{
        font-size:12px;
        color:#555;
        background:#fff;
        border:1px solid #e7e7e7;
        padding:4px 8px;
        border-radius:999px;
        white-space:nowrap;
      }

      .records, .meta-row{
        color:#333;
        line-height:1.7;
        font-size:14px;
      }

      .label{
        color:#666;
        font-size:13px;
        margin-right:6px;
        white-space:nowrap;
      }

      /* 关键：长串片名不要把布局挤爆 */
      .records .text{
        color:#333;
        white-space:normal;
        overflow-wrap:anywhere;
        word-break:break-word;
      }

      .meta{
        display:grid;
        gap:6px;
      }
      .meta-row .text{
        color:#666;
        white-space:normal;
        overflow-wrap:anywhere;
        word-break:break-word;
      }

      .footnote{
        margin-top:30px;
        padding-top:18px;
        border-top:1px solid #e5e5e5;
        text-align:center;
        color:#777;
        font-size:14px;
      }
    </style>
  </body>
</html>
