---
const pageTitle = "电影千佳";
const subtitle = "个人精选 · 1895至今";

// 1) 把你那 1000 行原始名单粘到这里（保持每条占一行即可）
const rawList = String.raw`
1、斯坦利·库布里克《2001太空漫游》（1968）
2、阿尔弗雷德·希区柯克《惊魂记》（1960）
3、奥逊·威尔斯《公民凯恩》（1941）
4、马丁·斯科塞斯《出租车司机》（1976）
5、让-吕克·戈达尔《精疲力尽》（1960）
6、埃米尔·库斯图里卡《地下》（1995）
7、费德里科·费里尼《八部半》（1963）
8、沃纳·赫尔佐格《陆上行舟》（1982）
9、弗朗西斯·福特·科波拉《教父》系列（1972/1974/1990）
10、杨德昌《一一》（2000）
11、英格玛·伯格曼《假面》（1966）
12、雷德利·斯科特《银翼杀手》（1982）
13、侯孝贤《悲情城市》（1989）
14、安德烈·塔可夫斯基《飞向太空》（1972）
15、陈凯歌《霸王别姬》（1993）
16、赛尔乔·莱昂内《美国往事》（1984）
17、查理·卓别林《摩登时代》（1936）
18、弗里茨·朗《M就是凶手》（1931）
19、黑泽明《七武士》（1954）
20、昆汀·塔伦蒂诺《低俗小说》（1994）
21、张艺谋《大红灯笼高高挂》（1991）
22、罗曼·波兰斯基《唐人街》（1974）
23、王童《无言的山丘》（1992）
24、维托里奥·德西卡《偷自行车的人》（1948）
25、王家卫《花样年华》（2000）
26、杨德昌《牯岭街少年杀人事件》（1991）
27、马丁·斯科塞斯《好家伙》（1990）
28、今村昌平《楢山节考》（1983）
29、弗朗索瓦·特吕弗《四百击》（1959）
30、斯派克·李《为所应为》（1989）
31、李安《饮食男女》（1994）
32、伍迪·艾伦《西力传》（1983）
33、吉洛·彭泰科沃《阿尔及尔之战》（1966）
34、让-吕克·戈达尔《狂人皮埃罗》（1965）
35、阿涅斯·瓦尔达/让·热内《脸庞，村庄》（2017）
36、阿尔弗雷德·希区柯克《迷魂记》（1958）
37、小津安二郎《东京物语》（1953）
38、张艺谋《活着》（1994）
39、斯坦利·库布里克《发条橙》（1971）
40、比利·怀尔德《控方证人》（1957）
41、胡金铨《侠女》（1970）
42、大卫·柯南伯格《变蝇人》（1986）
43、田壮壮《蓝风筝》（1993）
44、吉加·维尔托夫《持摄影机的人》（1929）
45、雷德利·斯科特《末路狂花》（1991）
46、贾樟柯《站台》（2000）
47、史蒂文·斯皮尔伯格《辛德勒的名单》（1993）
48、桑弧《哀乐中年》（1949）
49、佩德罗·阿莫多瓦《关于我母亲的一切》（1999）
50、王家卫《春光乍泄》（1997）
51、詹姆斯·卡梅隆《泰坦尼克号》（1997）
52、弗里茨·朗《大都会》（1927）
53、泰伦斯·马利克《穷山恶水》（1973）
54、米洛斯·福尔曼《飞越疯人院》（1975）
55、蔡明亮《爱情万岁》（1994）
56、罗曼·波兰斯基《苦月亮》（1992）
57、让-吕克·戈达尔《周末》（1967）
58、姜文《让子弹飞》（2010）
59、阿彼察邦·韦拉斯哈古《热带疾病》（2004）
60、谢晋《高山下的花环》（1984）
61、伊利亚·卡赞《欲望号街车》（1951）
62、大卫·林奇《橡皮头》（1977）
63、宫崎骏《哈尔的移动城堡》（2004）
64、侯孝贤《恋恋风尘》（1986）
65、查理·卓别林《城市之光》（1931）
66、科恩兄弟《老无所依》（2007）
67、贝尔纳多·贝托鲁奇《末代皇帝》（1987）
68、拉斯·冯·提尔《破浪》（1996）
69、萨蒂亚吉特·雷伊《大树之歌》（1959）
70、朱塞佩·托纳多雷《天堂电影院》（1988）
71、阿巴斯·基亚罗斯塔米《樱桃的滋味》（1997）
72、米开朗基罗·安东尼奥尼《中国》（1972）
73、伍迪·艾伦《安妮·霍尔》（1977）
74、安德烈·塔可夫斯基《乡愁》（1983）
75、达伦·阿伦诺夫斯基《梦之安魂曲》（2000）
76、姜文《阳光灿烂的日子》（1994）
77、弗朗西斯·福特·科波拉《现代启示录》（1979）
78、谢尔盖·爱森斯坦《战舰波将金号》（1925）
79、大卫·里恩《日瓦戈医生》（1965）
80、罗伯特·奥特曼《纳什维尔》（1975）
81、迈克尔·哈内克《钢琴教师》（2001）
82、杨德昌《恐怖分子》（1986）
83、英格玛·伯格曼《处女泉》（1960）
84、阿尔弗雷德·希区柯克《蝴蝶梦》（1940）
85、斯坦利·库布里克《奇爱博士》（1964）
86、比利·怀尔德《热情如火》（1959）
87、保罗·托马斯·安德森《不羁夜》（1997）
88、迈克尔·柯蒂兹《卡萨布兰卡》（1942）
89、小林正树《怪谈》（1964）
90、贾樟柯《三峡好人》（2006）
91、西德尼·富兰克林/维克多·弗莱明《大地》（1937）
92、黑泽明《罗生门》（1950）
93、李安《卧虎藏龙》（2000）
94、克莱尔·德尼《军中禁恋》（1999）
95、王家卫《重庆森林》（1994）
96、奥逊·威尔斯《审判》（1962）
97、维克多·艾里斯《蜂巢幽灵》（1973）
98、让·雷诺阿《游戏规则》（1939）
99、让-吕克·戈达尔《法外之徒》（1964）
100、罗伯特·泽米吉斯《阿甘正传》（1994）
101、许鞍华《投奔怒海》（1982）
102、马丁·布莱斯特《闻香识女人》（1992）
103、阿基·考里斯马基《没有过去的男人》（2002）
104、费尔南多·梅里尔斯/卡地亚·兰德《上帝之城》（2002）
105、科恩兄弟《巴顿·芬克》（1991）
106、史蒂文·斯皮尔伯格《拯救大兵瑞恩》（1998）
107、约翰·福特《双虎屠龙》（1962）
108、姜文《鬼子来了》（2000）
109、查理·卓别林《大独裁者》（1940）
110、巴斯特·基顿《将军号》（1926）
111、马丁·斯科塞斯《愤怒的公牛》（1980）
112、赛尔乔·莱昂内《西部往事》（1968）
113、大卫·芬奇《搏击俱乐部》（1999）
114、杨德昌《独立时代》（1994）
115、罗曼·波兰斯基《罗斯玛丽的婴儿》（1968）
116、阿伦·雷乃《广岛之恋》（1959）
117、克林特·伊斯特伍德《不可饶恕》（1992）
118、理查德·林克莱特《少年时代》（2014）
119、佩德罗·阿莫多瓦《回归》（2006）
120、大卫·林奇《史崔特先生的故事》（1999）
121、宫崎骏《幽灵公主》（1997）
122、鲍勃·福斯《歌厅》（1972）
123、米洛斯·福尔曼《莫扎特传》（1984）
124、威廉·惠勒《宾虚》（1959）
125、李杨《盲山》（2007）
126、彼得·杰克逊《指环王》系列（2001/2002/2003）
127、约翰·卡萨维茨《醉酒的女人》（1974）
128、弗洛里安·亨克尔·冯·多纳斯马尔克《窃听风暴》（2006）
129、斯坦利·库布里克《全金属外壳》（1987）
130、张之亮《笼民》（1992）
131、英格玛·伯格曼《婚姻生活》（1973）
132、沃卓斯基姐妹《黑客帝国》系列（1999/2003）
133、黑泽明《乱》（1985）
134、乔纳斯·梅卡斯《当我往前走之时偶尔会瞥到一缕美丽之景》（2000）
135、奥利弗·斯通《天生杀人狂》（1994）
136、克日什托夫·基耶斯洛夫斯基《杀人短片》（1988）
137、李安《色，戒》（2007）
138、阿尔弗雷德·希区柯克《群鸟》（1963）
139、让-吕克·戈达尔《随心所欲》（1962）
140、米开朗基罗·安东尼奥尼《放大》（1966）
141、阿巴斯·基亚罗斯塔米《何处是我朋友的家》（1987）
142、张艺谋《红高粱》（1988）
143、比利·怀尔德《日落大道》（1950）
144、雷德利·斯科特《异形》（1979）
145、约瑟夫·L·曼凯维奇《彗星美人》（1950）
146、保罗·托马斯·安德森《木兰花》（1999）
147、陈果《细路祥》（1999）
148、迈克·李《秘密与谎言》（1996）
149、吉姆·贾木许《帕特森》（2016）
150、萨姆·佩金帕《日落黄沙》（1969）
151、宫崎骏《龙猫》（1988）
152、李维克·伽塔克《一条叫做底塔斯的河》（1973）
153、大卫·柯南伯格《欲望号快车》（1996）
154、贾樟柯《天注定》（2013）
155、昆汀·塔伦蒂诺《无耻混蛋》（2009）
156、拉斯·冯·提尔《此房是我造》（2018）
157、阿斯加·法哈蒂《一次别离》（2011）
158、安德烈·塔可夫斯基《伊万的童年》（1962）
159、西德尼·吕美特《十二怒汉》（1957）
160、阿基·考里斯马基《火柴厂女工》（1990）
161、弗里茨·朗《三生计》（1921）
162、泰伦斯·马利克《天堂之日》（1978）
163、蔡明亮《河流》（1997）
164、寺山修司《死者田园祭》（1974）
165、奉俊昊《寄生虫》（2019）
166、斯坦利·多南/吉恩·凯利《雨中曲》（1952）
167、王童《香蕉天堂》（1989）
168、伍迪·艾伦《解构爱情狂》（1997）
169、马丁·斯科塞斯《爱尔兰人》（2019）
170、阿彼察邦·韦拉斯哈古《能召回前世的布米叔叔》（2010）
171、史蒂文·斯皮尔伯格《E.T.外星人》（1982）
172、佩德罗·阿莫多瓦《痛苦与荣耀》（2019）
173、侯孝贤《童年往事》（1985）
174、F·W·茂瑙《诺斯费拉图》（1922）
175、让-吕克·戈达尔《电影史》（1998）
176、约翰·福特《搜索者》（1956）
177、阿涅斯·瓦尔达《拾穗者》（2000）
178、许鞍华《千言万语》（1999）
179、杨德昌《麻将》（1996）
180、昆汀·塔伦蒂诺《八恶人》（2015）
181、布莱恩·德·帕尔玛《魔女嘉莉》（1976）
182、罗曼·波兰斯基《怪房客》（1976）
183、李安《喜宴》（1993）
184、格劳贝尔·罗恰《大地的年纪》（1980）
185、简·坎皮恩《钢琴课》（1993）
186、维克多·弗莱明/乔治·库克/山姆·伍德《乱世佳人》（1939）
187、雷德利·斯科特《天国王朝》（2005）
188、今村昌平《诸神的欲望》（1968）
189、黑泽明《电车狂》（1970）
190、亚利桑德罗·冈萨雷斯·伊纳里图《爱情是狗娘》（2000）
191、迈克尔·哈内克《爱》（2012）
192、斯坦利·库布里克《光荣之路》（1957）
193、是枝裕和《无人知晓》（2004）
194、英格玛·伯格曼《野草莓》（1957）
195、李沧东《薄荷糖》（1999）
196、贝拉·塔尔《都灵之马》（2011）
197、关锦鹏《阮玲玉》（1991）
198、让·雷诺阿《大河》（1951）
199、安德烈·祖拉斯基《着魔》（1981）
200、米开朗基罗·安东尼奥尼《奇遇》（1960）
201、依莱姆·克里莫夫《自己去看》（1985）
202、罗伯托·罗西里尼《德意志零年》（1948）
203、丹尼·博伊尔《猜火车》（1996）
204、吴宇森《英雄本色》（1986）
205、梅雅·黛伦《午后的迷惘》（1943）
206、今敏《未麻的部屋》（1997）
207、巴斯特·基顿《邻居们》（1920）
208、胡金铨《山中传奇》（1979）
209、吉姆·贾木许《离魂异客》（1995）
210、小津安二郎《晚春》（1949）
211、魏德圣《赛德克·巴莱》（2012）
212、亚利桑德罗·佐杜洛夫斯基《圣山》（1973）
213、罗伯·莱纳《伴我同行》（1986）
214、奥逊·威尔斯/罗伯特·怀斯/弗雷德·弗莱克《伟大的安巴逊》（1942）
215、彼得·威尔《楚门的世界》（1998）
216、赛尔乔·莱昂内《黄金三镖客》（1966）
217、弗里茨·朗《玩家马布斯博士》（1922）
218、大卫·林奇《穆赫兰道》（2001）
219、卡尔·西奥多·德莱叶《圣女贞德蒙难记》（1928）
220、乔治·卢卡斯《星球大战》及前传系列（1977/1980/1983/1999/2002/2005）
221、费穆《小城之春》（1948）
222、萨蒂亚吉特·雷伊《大河之歌》（1956）
223、西德尼·吕美特《热天午后》（1975）
224、赛尔乔·莱昂内《革命往事》（1971）
225、比利·怀尔德《玉女风流》（1961）
226、宫崎骏《千与千寻》（2001）
227、卢奎西亚·马特尔《沼泽》（2001）
228、洪常秀《独自在夜晚的海边》（2017）
229、娄烨《颐和园》（2006）
230、李维克·伽塔克《云遮星》（1960）
231、许鞍华《天水围的日与夜》（2008）
232、罗曼·波兰斯基《钢琴家》（2002）
233、阿基·考里斯马基《列宁格勒牛仔征美记》（1989）
234、鲍勃·福斯《爵士春秋》（1979）
235、阿涅斯·瓦尔达《天涯沦落女》（1985）
236、黄信尧《大佛普拉斯》（2017）
237、内尔森·帕累拉·德桑托斯《艰辛岁月》（1967）
238、克日什托夫·基耶斯洛夫斯基《红白蓝三部曲之白》（1994）
239、弗兰克·德拉邦特《肖申克的救赎》（1994）
240、维克多·艾里斯《榅桲树阳光》（1992）
241、杨德昌《海滩的一天》（1983）
242、英格玛·伯格曼《芬妮与亚历山大》（1982）
243、安德烈·塔可夫斯基《安德烈·卢布廖夫》（1966）
244、张艺谋《菊豆》（1990）
245、阿巴斯·基亚罗斯塔米《特写》（1990）
246、约翰·卡萨维茨《女煞葛洛莉》（1980）
247、蔡明亮《青少年哪吒》（1992）
248、阿尔弗雷德·希区柯克《后窗》（1954）
249、保罗·托马斯·安德森《血色将至》（2007）
250、昆汀·塔伦蒂诺《被解救的姜戈》（2012）
251、黑泽明《天国与地狱》（1963）
252、蒋雯丽《我们天上见》（2009）
253、迈克尔·鲍威尔《偷窥狂》（1960）
254、琳恩·拉姆塞《捕鼠者》（1999）
255、宫崎骏《天空之城》（1986）
256、约翰·福特《愤怒的葡萄》（1940）
257、弗朗索瓦·特吕弗《婚姻生活》（1970）
258、贾樟柯《小武》（1998）
259、让-吕克·戈达尔《女人就是女人》（1961）
260、侯孝贤《风柜来的人》（1983）
261、史蒂文·斯皮尔伯格《大白鲨》（1975）
262、艾伦·帕克《迷墙》（1982）
263、拉斯·冯·提尔《黑暗中的舞者》（2000）
264、李沧东《绿洲》（2002）
265、路易斯·布努埃尔《资产阶级的审慎魅力》（1972）
266、阿伦·雷乃《夜与雾》（1956）
267、克林特·伊斯特伍德《百万美元宝贝》（2004）
268、寺山修司《再见箱舟》（1984）
269、阿涅斯·瓦尔达《五至七时的克莱奥》（1962）
270、李杨《盲井》（2003）
271、斯坦利·库布里克《巴里·林登》（1975）
272、乔纳森·戴米《沉默的羔羊》（1991）
273、伊利亚·卡赞《码头风云》（1954）
274、奉俊昊《杀人回忆》（2003）
275、弗里茨·朗《尼伯龙根：西格弗里德之死》（1924）
276、王童《红柿子》（1997）
277、沃尔夫冈·彼德森《从海底出击》（1981）
278、马丁·斯科塞斯《下班后》（1985）
279、史蒂芬·戴德利《时时刻刻》（2002）
280、李安《推手》（1991）
281、保罗·范霍文《艳舞女郎》（1995）
282、乔治·米勒《疯狂的麦克斯4：狂暴之路》（2015）
283、是枝裕和《步履不停》（2008）
284、皮埃尔·保罗·帕索里尼《马太福音》（1964）
285、英格玛·伯格曼《第七封印》（1957）
286、米开朗基罗·安东尼奥尼《夜》（1961）
287、亚利桑德罗·冈萨雷斯·伊纳里图《通天塔》（2006）
288、胡金铨《空山灵雨》（1979）
289、克洛德·夏布洛尔《冷酷祭典》（1995）
290、罗伯特·布列松《驴子巴特萨》（1966）
291、萨姆·门德斯《美国丽人》（1999）
292、约翰·卡朋特《怪形》（1982）
293、吉姆·贾木许《天堂陌影》（1984）
294、王家卫《一代宗师》（2013）
295、丹尼斯·维伦纽瓦《焦土之城》（2010）
296、比利·怀尔德《桃色公寓》（1960）
297、沃尔特·塞勒斯《中央车站》（1998）
298、克里斯托弗·诺兰《星际穿越》（2014）
299、格斯·范·桑特《大象》（2003）
300、宫崎骏《风之谷》（1984）
301、罗伯特·奥特曼《漫长的告别》（1973）
302、布莱恩·德·帕尔玛《疤面煞星》（1983）
303、朴赞郁《老男孩》（2003）
304、维克多·弗莱明/金·维多《绿野仙踪》（1939）
305、娄烨《苏州河》（2000）
306、伍迪·艾伦《开罗紫玫瑰》（1985）
307、科恩兄弟《冰血暴》（1996）
308、佩德罗·阿莫多瓦《不良教育》（2004）
309、阿巴斯·基亚罗斯塔米《随风而逝》（1999）
310、吕克·贝松《第五元素》（1997）
311、阿尔弗雷德·希区柯克《电话谋杀案》（1954）
312、陈可辛《甜蜜蜜》（1996）
313、弗朗索瓦·特吕弗《爱情狂奔》（1979）
314、今敏《千年女优》（2001）
315、奥利佛·斯通《天与地》（1993）
316、蔡明亮《洞》（1998）
317、吴宇森《喋血双雄》（1989）
318、大卫·柯南伯格《暴力史》（2005）
319、雅克·德米《瑟堡的雨伞》（1964）
320、赛尔乔·莱昂内《黄昏双镖客》（1965）
321、张艺谋《英雄》（2002）
322、卡尔·西奥多·德莱叶《词语》（1955）
323、罗曼·波兰斯基《不道德的审判》（1994）
324、索菲亚·科波拉《迷失东京》（2003）
325、侯孝贤《南国再见，南国》（1996）
326、约书亚·奥本海默《杀戮演绎》（2012）
327、让-吕克·戈达尔《男性，女性》（1966）
328、许鞍华《客途秋恨》（1990）
329、罗伯特·泽米吉斯《回到未来》系列（1985/1989/1990）
330、鲍勃·福斯《伦尼的故事》（1974）
331、阿基·考里斯马基《天堂孤影》（1986）
332、阿方索·卡隆《你妈妈也一样》（2001）
333、金基德《春夏秋冬又一春》（2003）
334、乔治·库克《煤气灯下》（1944）
335、小津安二郎《秋刀鱼之味》（1962）
336、让·雷诺阿《法国康康舞》（1955）
337、谢晋《芙蓉镇》（1987）
338、约翰·卡萨维茨《首演之夜》（1977）
339、拉斯·霍尔斯道姆《忠犬八公的故事》（2009）
340、宫崎骏《魔女宅急便》（1989）
341、格劳贝尔·罗恰《痛苦的大地》（1967）
342、弗里茨·朗《马布斯博士的遗嘱》（1933）
343、罗启锐《岁月神偷》（2010）
344、寺山修司《抛掉书本上街去》（1971）
345、乔纳森·戴米《费城故事》（1993）
346、王小帅《地久天长》（2019）
347、约翰·福特《关山飞渡》（1939）
348、维托里奥·德西卡《擦鞋童》（1946）
349、胡波《大象席地而坐》（2018）
350、雷德利·斯科特《黑鹰坠落》（2001）
351、李沧东《燃烧》（2018）
352、伍迪·艾伦《曼哈顿谋杀疑案》（1993）
353、安东尼·明格拉《冷山》（2003）
354、昆汀·塔伦蒂诺《杀死比尔》（2003）
355、迈克尔·西米诺《猎鹿人》（1978）
356、朴赞郁《小姐》（2016）
357、米开朗基罗·安东尼奥尼《红色沙漠》（1964）
358、马丁·斯科塞斯《喜剧之王》（1982）
359、李安《少年派的奇幻漂流》（2012）
360、黑泽明《影武者》（1980）
361、娄烨《春风沉醉的夜晚》（2009）
362、阿内·拉鲁《原始星球》（1973）
363、瑟琳·席安玛《燃烧女子的肖像》（2019）
364、大卫·芬奇《七宗罪》（1995）
365、安德烈·塔可夫斯基《牺牲》（1986）
366、阿巴斯·基亚罗斯塔米《生生长流》（1992）
367、史蒂文·斯皮尔伯格《人工智能》（2001）
368、大卫·林奇《双峰》系列（1990/1992/2017）
369、托德·海因斯《黑水》（2019）
370、赛尔乔·莱昂内《荒野大镖客》（1964）
371、关锦鹏《蓝宇》（2001）
372、金·维多《群众》（1928）
373、大卫·芬奇《本杰明·巴顿奇事》（2008）
374、英格玛·伯格曼《秋日奏鸣曲》（1978）
375、大卫·柯南伯格《灵婴》（1979）
376、王家卫《阿飞正传》（1990）
377、奥利弗·希施比格尔《帝国的毁灭》（2004）
378、赵婷《无依之地》（2020）
379、科恩兄弟《大地惊雷》（2010）
380、贝纳尔多·贝托鲁奇《同流者》（1970）
381、亚利桑德罗·冈萨雷斯·伊纳里图《美错》（2010）
382、侯孝贤《冬冬的假期》（1984）
383、阿尔弗雷德·希区柯克《夺魂索》（1948）
384、恩斯特·刘别谦《你逃我也逃》（1942）
385、斯坦利·库布里克《闪灵》（1980）
386、迈克尔·哈内克《隐藏摄像机》（2005）
387、张艺谋《秋菊打官司》（1992）
388、罗伯特·布列松《扒手》（1959）
389、罗曼·波兰斯基《杀戮》（2011）
390、路易斯·布努埃尔《维莉蒂安娜》（1961）
391、迈克尔·鲍威尔/埃默里克·普雷斯伯格《红菱艳》（1948）
392、黑泽明《德尔苏·乌扎拉》（1975）
393、巴斯特·基顿《福尔摩斯二世》（1924）
394、克里斯·马克《红在革命蔓延时》（1977）
395、彼得·威尔《死亡诗社》（1989）
396、蔡明亮《你那边几点》（2001）
397、罗伯托·罗西里尼《罗马，不设防的城市》（1945）
398、埃米尔·库斯图里卡《亚利桑那之梦》（1993）
399、罗伯特·奥特曼《三女性》（1977）
400、弗朗索瓦·特吕弗《射杀钢琴师》（1960）
401、罗伯特·怀斯《音乐之声》（1965）
402、梅尔·吉布森《启示》（2006）
403、乔纳斯·梅卡斯《笔记·日志·素描》（1970）
404、杨德昌《青梅竹马》（1985）
405、奥利弗·斯通《刺杀肯尼迪》（1991）
406、马丁·斯科塞斯《纽约，纽约》（1977）
407、阿方索·卡隆《罗马》（2018）
408、阿伦·雷乃《去年在马里昂巴德》（1961）
409、萨姆·佩金帕《惊天动地抢人头》（1974）
410、今村昌平《黑雨》（1989）
411、达内兄弟《一诺千金》（1996）
412、乔治·库克《窈窕淑女》（1964）
413、罗杰·阿勒斯/罗伯·明可夫《狮子王》（1994）
414、徐克《青蛇》（1993）
415、克日什托夫·基耶斯洛夫斯基《蓝白红三部曲之蓝》（1994）
416、尼古拉斯·雷《无因的反叛》（1955）
417、文森特·明奈利《一个美国人在巴黎》（1951）
418、黑泽明《蜘蛛巢城》（1957）
419、理查德·林克莱特《爱在》系列（1995/2003/2013）
420、约翰·卡萨维茨《面孔》（1968）
421、弗兰克·卡普拉《生活多美好》（1946）
422、让·雷诺阿《母狗》（1931）
423、英格玛·伯格曼《呼喊与细语》（1972）
424、杜琪峰《枪火》（1999）
425、大卫·柯南伯格《录影带谋杀案》（1983）
426、托德·布朗宁《畸形人》（1932）
427、许鞍华《女人，四十》（1995）
428、大岛渚《感官世界》（1976）
429、雅克·塔蒂《玩乐时间》（1967）
430、科恩兄弟《抚养亚利桑纳》（1987）
431、萨蒂亚吉特·雷伊《音乐室》（1958）
432、贝拉·塔尔《鲸鱼马戏团》（2000）
433、马丁·麦克唐纳《三块广告牌》（2017）
434、格劳贝尔·罗恰《黑上帝白魔鬼》（1964）
435、昆汀·塔伦蒂诺《落水狗》（1992）
436、达里奥·阿基多《阴风阵阵》（1977）
437、布莱恩·德·帕尔玛《情枭的黎明》（1993）
438、迈克尔·哈内克《趣味游戏》（1997）
439、吴宇森《喋血街头》（1990）
440、大卫·林奇《蓝丝绒》（1986）
441、阿涅斯·瓦尔达《阿涅斯的海滩》（2008）
442、托德·海因斯《卡罗尔》（2015）
443、奥利弗·斯通《野战排》（1986）
444、拉斯·冯·提尔《白痴》（1998）
445、李安《断背山》（2005）
446、小津安二郎《麦秋》（1951）
447、恩斯特·刘别谦《妮诺契卡》（1939）
448、朴赞郁《我要复仇》（2002）
449、约翰·福特《青山翠谷》（1941）
450、斯派克·琼斯《她》（2013）
451、阿尔弗雷德·希区柯克《辣手摧花》（1943）
452、约瑟夫·L·曼凯维奇/鲁本·马莫利安《埃及艳后》（1963）
453、陈凯歌《孩子王》（1987）
454、迈克尔·曼《盗火线》（1995）
455、沃纳·赫尔佐格《阿基尔，上帝的愤怒》（1972）
456、马丁·斯科塞斯《赌城风云》（1995）
457、皮埃尔·保罗·帕索里尼《索多玛120天》（1975）
458、顾长卫《孔雀》（2005）
459、罗曼·波兰斯基《穿裘皮的维纳斯》（2013）
460、陈果《去年烟花特别多》（1998）
461、克林特·伊斯特伍德《廊桥遗梦》（1995）
462、伍迪·艾伦《性爱宝典》（1972）
463、保罗·范霍文《星河战队》（1997）
464、朴赞郁《亲切的金子》（2005）
465、罗伯特·布列松《死囚越狱》（1956）
466、奥逊·威尔斯《赝品》（1973）
467、冈本喜八《大菩萨岭》（1966）
468、史蒂文·斯皮尔伯格《侏罗纪公园》（1993）
469、卡尔·西奥多·德莱叶《复仇之日》（1943）
470、让-吕克·戈达尔《我略知她一二》（1967）
471、李沧东《密阳》（2007）
472、泰伦斯·马利克《细细的红线》（1998）
473、是枝裕和《海街日记》（2015）
474、迈克尔·鲍威尔/路德维希·贝格尔/蒂姆·威伦《巴格达妙贼》（1940）
475、安德烈·塔可夫斯基《潜行者》（1979）
476、胡金铨《龙门客栈》（1967）
477、贝纳尔多·贝托鲁奇《戏梦巴黎》（2003）
478、侯孝贤《戏梦人生》（1993）
479、乔治·库克《一个明星的诞生》（1954）
480、亚利桑德罗·冈萨雷斯·伊纳里图《鸟人》（2014）
481、戴维·汉德《小鹿斑比》（1942）
482、陈冲《天浴》（1998）
483、比利·怀尔德《倒扣的王牌》（1951）
484、关锦鹏《胭脂扣》（1987）
485、米开朗基罗·安东尼奥尼《蚀》（1962）
486、金·维多《源泉》（1949）
487、米歇尔·贡德里《暖暖内含光》（2004）
488、彼得·法雷里《绿皮书》（2018）
489、约翰·卡朋特《月光光心慌慌》（1978）
490、肖恩·贝克《橘色》（2015）
491、曹保平《李米的猜想》（2008）
492、弗兰克·卡普拉《一夜风流》（1934）
493、雷德利·斯科特《角斗士》（2000）
494、詹姆斯·惠尔《科学怪人的新娘》（1935）
495、赖纳·维尔纳·法斯宾德《恐惧吞噬灵魂》（1974）
496、詹姆斯·卡梅隆《阿凡达》（2009）
497、阿贝尔·费拉拉《坏中尉》（1992）
498、贾樟柯《江湖儿女》（2018）
499、弗朗索瓦·特吕弗《祖与占》（1962）
500、谢飞《湘女萧萧》（1986）
501、皮埃尔·保罗·帕索里尼《一千零一夜》（1974）
502、路易斯·布努埃尔《泯灭天使》（1962）
503、张艺谋《我的父亲母亲》（1999）
504、迈克尔·哈内克《白丝带》（2009）
505、史蒂文·斯皮尔伯格《决斗》（1971）
506、威廉·弗莱德金《驱魔人》（1973）
507、让-皮埃尔·梅尔维尔《独行杀手》（1967）
508、安东尼·曼/茂文·勒瓦鲁《暴君焚城录》（1951）
509、王家卫《堕落天使》（1995）
510、黑泽明《用心棒》（1961）
511、维克多·艾里斯《南方》（1983）
512、亨利-乔治·克鲁佐《恶魔》（1955）
513、格斯·范·桑特《我自己的爱达荷》（1991）
514、阿巴斯·基亚罗斯塔米《合法副本》（2010）
515、维托里奥·德西卡《风烛泪》（1952）
516、周星驰《功夫》（2004）
517、阿彼察邦·韦拉斯哈古《幻梦墓园》（2015）
518、吉姆·贾木许《不法之徒》（1986）
519、恩斯特·刘别谦《天堂里的烦恼》（1932）
520、梅尔·吉布森《勇敢的心》（1995）
521、罗伯特·布列松《乡村牧师日记》（1951）
522、卢奎西亚·马特尔《无头的女人》（2008）
523、马修·卡索维茨《怒火青春》（1995）
524、严浩《滚滚红尘》（1990）
525、达内兄弟《单车少年》（2011）
526、贝纳尔多·贝托鲁奇《一九零零》（1976）
527、让·雷诺阿《布杜落水遇救记》（1932）
528、彼得·道格特《飞屋环游记》（2009）
529、今村昌平《复仇在我》（1979）
530、佩德罗·阿莫多瓦《欲望法则》（1987）
531、威廉·惠勒《黄金时代》（1946）
532、大卫·柯南伯格《蝴蝶君》（1993）
533、拉斯·霍尔斯道姆《狗脸的岁月》（1985）
534、阿基·考里斯马基《升空号》（1988）
535、让-吕克·戈达尔《蔑视》（1963）
536、安德里亚·阿诺德《鱼缸》（2009）
537、克日什托夫·基耶斯洛夫斯基《蓝白红三部曲之红》（1993）
538、阿尔弗雷德·希区柯克《爱德华大夫》（1945）
539、罗曼·波兰斯基《水中刀》（1962）
540、马丁·斯科塞斯《纯真年代》（1993）
541、阿瑟·佩恩《雌雄大盗》（1967）
542、今敏《红辣椒》（2006）
543、佩德罗·科斯塔《旺妲的房间》（2000）
544、布莱恩·德·帕尔玛《碟中谍》（1996）
545、金基德《漂流欲室》（2000）
546、大卫·林奇《妖夜慌踪》（1997）
547、约翰·卡萨维茨《影子》（1958）
548、尔冬升《色情男女》（1996）
549、凯莉·莱卡特《第一头牛》（2019）
550、埃米尔·库斯图里卡《爸爸去出差》（1985）
551、简·坎皮恩《天使与我同桌》（1990）
552、萨姆·佩金帕《亡命大煞星》（1972）
553、乔治·库克《茶花女》（1936）
554、约翰·卡朋特《战栗黑洞》（1991）
555、小津安二郎《早安》（1959）
556、斯坦利·库布里克《杀手》（1956）
557、英格玛·伯格曼《犹在镜中》（1961）
558、陈果《香港制造》（1997）
559、格劳贝尔·罗恰《七首雄狮》（1971）
560、玛格丽特·杜拉斯《印度之歌》（1975）
561、阿伦·雷乃《我的美国舅舅》（1980）
562、罗伯特·奥特曼《银色·性·男女》（1993）
563、查尔斯·劳顿《猎人之夜》（1955）
564、陈英雄《三轮车夫》（1995）
565、巴斯特·基顿《七次机会》（1925）
566、弗朗索瓦·特吕弗《日以作夜》（1973）
567、黑泽明《椿三十郎》（1962）
568、马丁·布莱斯特《午夜狂奔》（1988）
569、F·W·茂瑙《日出》（1927）
570、泰伦斯·马利克《生命之树》（2011）
571、弗兰克·卡普拉《史密斯先生到华盛顿》（1939）
572、查理·卓别林《淘金记》（1925）
573、达米安·斯兹弗隆《荒蛮故事》（2014）
574、安德烈·塔可夫斯基《镜子》（1975）
575、谢晋/黄蜀芹《牧马人》（1982）
576、让·雷诺阿《兰基先生的罪行》（1936）
577、亚利桑德罗·佐杜洛夫斯基《圣血》（1989）
578、斯派克·琼斯《成为约翰·马尔科维奇》（2013）
579、罗伯特·布列松《钱》（1983）
580、达伦·阿伦诺夫斯基《摔角王》（2008）
581、大卫·里恩《阿拉伯的劳伦斯》（1962）
582、吉尔莫·德尔·托罗《潘神的迷宫》（2006）
583、阿尔弗雷德·希区柯克《三十九级台阶》（1935）
584、吉姆·贾木许《地球之夜》（1991）
585、达里奥·阿基多《夜深血红》（1975）
586、萨蒂亚吉特·雷伊《大地之歌》（1955）
587、詹姆斯·惠尔《科学怪人》（1931）
588、英格玛·伯格曼《沉默》（1963）
589、大卫·柯南伯格《感官游戏》（1997）
590、宫崎骏《红猪》（1992）
591、路易斯·布努埃尔《被遗忘的人们》（1950）
592、佩德罗·阿莫多瓦《活色生香》（1997）
593、让-皮埃尔·梅尔维尔《影子部队》（1969）
594、皮埃尔·保罗·帕索里尼《定理》（1968）
595、伊利亚·卡赞《伊甸园之东》（1955）
596、尼古拉斯·雷《兰闺艳血》（1950）
597、詹姆斯·卡梅隆《终结者2：审判日》（1984）
598、伍迪·艾伦《子弹横飞百老汇》（1994）
599、唐·希格尔《天外魔花》（1956）
600、托德·海因斯《天鹅绒金矿》（1998）
601、斯坦利·库布里克《大开眼戒》（1999）
602、罗曼·波兰斯基《冷血惊魂》（1965）
603、李·昂克里奇《寻梦环游记》（2017）
604、莱奥·卡拉克斯《神圣车行》（2012）
605、是枝裕和《如父如子》（2013）
606、大卫·林奇《内陆帝国》（2006）
607、科恩兄弟《缺席的人》（2001）
608、奥利弗·斯通《华尔街》（1987）
609、小津安二郎《我出生了，但......》（1932）
610、史蒂夫·麦奎因《为奴十二年》（2013）
611、侯孝贤《儿子的大玩偶》（1983）
612、阿彼察邦·韦拉斯哈古《恋爱症候群》（2006）
613、肯·罗素《卢丹的恶魔》（1971）
614、费德里科·费里尼《大路》（1954）
615、罗伯·莱纳《危情十日》（1990）
616、让·雷诺阿《乡间一日》（1946）
617、埃米尔·库斯图里卡《流浪者之歌》（1988）
618、曹保平《光荣的愤怒》（2006）
619、约翰·卡朋特《极度空间》（1988）
620、马丁·斯科塞斯《穷街陋巷》（1973）
621、维克多·艾里斯《闭上眼睛》（2023）
622、雅克·塔蒂《我的舅舅》（1958）
623、恩斯特·刘别谦《爱情无计》（1933）
624、今村昌平《鳗鱼》（1997）
625、吉姆·贾木许《咖啡与香烟》（2003）
626、尔冬升《门徒》（2007）
627、查理·卓别林《马戏团》（1928）
628、F·W·茂瑙《浮士德》（1926）
629、黑泽明《生之欲》（1952）
630、史蒂文·斯皮尔伯格《夺宝奇兵》（1981）
631、文森特·明奈利《火树银花》（1944）
632、韦斯·安德森《布达佩斯大饭店》（2014）
633、蒂姆·波顿《大鱼》（2003）
634、阿尔弗雷德·希区柯克《火车怪客》（1951）
635、阿方索·卡隆《地心引力》（2013）
636、威廉·惠勒《罗马假日》（1953）
637、丹尼斯·维伦纽瓦《囚徒》（2013）
638、洪常秀《之后》（2017）
639、英格玛·伯格曼《冬日之光》（1963）
640、克日什托夫·基耶斯洛夫斯基《爱情短片》（1988）
641、吴宇森《纵横四海》（1991）
642、许鞍华《男人四十》（2002）
643、约翰·卡萨维茨《爱的激流》（1984）
644、罗伯托·罗西里尼《游览意大利》（1954）
645、迈克·李《维拉·德雷克》（2004）
646、路易斯·布努埃尔《自由的幻影》（1974）
647、沟口健二《雨月物语》（1953）
648、李沧东《诗》（2010）
649、格斯·范·桑特《米尔克》（2008）
650、塞姆·萨迪克《乐土》（2022）
651、弗朗西斯·福特·科波拉《斗鱼》（1983）
652、贾樟柯《山河故人》（2015）
653、大卫·柯南伯格《裸体午餐》（1991）
654、张艺谋《有话好好说》（1997）
655、科恩兄弟《血迷宫》（1984）
656、欧格斯·兰斯莫斯《龙虾》（2015）
657、黑泽明《战国英豪》（1958）
658、米开朗基罗·安东尼奥尼《过客》（1974）
659、加斯帕·诺《不可撤销》（2002）
660、弗朗索瓦·欧容《登堂入室》（2003）
661、伍迪·艾伦《午夜巴黎》（2011）
662、王童《假如我是真的》（1981）
663、吉布里尔·迪奥普·曼贝蒂《土狼之旅》（1973）
664、唐·希格尔《肮脏的哈里》（1971）
665、侯孝贤《千禧曼波》（2001）
666、达内兄弟《罗塞塔》（1999）
667、是枝裕和《比海更深》（2016）
668、罗伯特·本顿《克莱默夫妇》（1979）
669、小津安二郎《茶泡饭之味》（1952）
670、罗曼·波兰斯基《雾都孤儿》（2005）
671、阿巴斯·基亚罗斯塔米《橄榄树下的情人》（1994）
672、朱利亚·蒂库诺《生吃》（2016）
673、阿尔弗雷德·希区柯克《艳贼》（1964）
674、蒂姆·波顿《剪刀手爱德华》（1990）
675、陈凯歌《黄土地》（1984）
676、梅雅·黛伦《在陆地上》（1944）
677、罗伯特·奥特曼《花村》（1971）
678、巴斯特·基顿《船长二世》（1928）
679、亚历山大·麦肯德里克《成功的滋味》（1957）
680、罗伯特·怀斯/杰罗姆·罗宾斯《西区故事》（1961）
681、威廉·弗莱德金《法国贩毒网》（1971）
682、伊利亚·卡赞《美国，美国》（1963）
683、佩德罗·阿莫多瓦《吾栖之肤》（2011）
684、迈克尔·鲍威尔/埃默里克·普雷斯伯格《黑水仙》（1947）
685、乔治·A·罗梅罗《活死人之夜》（1968）
686、比利·怀尔德《战地军魂》（1953）
687、阿方索·卡隆《人类之子》（2006）
688、谢晋《天云山传奇》（1981）
689、布莱恩·德·帕尔玛《凶线》（1981）
690、大卫·林奇《我心狂野》（1990）
691、托德·海因斯《远离天堂》（2002）
692、乔纳森·格雷泽《皮囊之下》（2013）
693、阿伦·雷乃《莫里埃尔》（1963）
694、大卫·里恩《桂河大桥》（1957）
695、罗伯托·罗西里尼《火山边缘之恋》（1950）
696、拉斯·霍尔斯道姆《喧闹村的孩子们》（1986）
697、托德·布朗宁《未知者》（1927）
698、黑泽明《梦》（1990）
699、芙茹弗·法洛克扎德《房屋是黑的》（1963）
700、阿涅斯·瓦尔达《南特的雅克·德米》（1991）
701、昆汀·塔伦蒂诺《金刚不坏》（2007）
702、李维克·伽塔克《金线》（1965）
703、王家卫《东邪西毒》（1994）
704、贝纳尔多·贝托鲁奇《巴黎最后的探戈》（1972）
705、让·雷诺阿《大幻影》（1939）
706、沃纳·赫尔佐格《卡斯帕尔·豪泽尔之谜》（1974）
707、阿彼察邦·韦拉斯哈古《记忆》（2021）
708、贾法尔·帕纳西《白气球》（1995）
709、恩斯特·刘别谦《卡门》（1918）
710、科恩兄弟《谋杀绿脚趾》（1998）
711、伍迪·艾伦《无线电时代》（1987）
712、格劳贝尔·罗恰《安托尼奥之死》（1969）
713、小林正树《切腹》（1962）
714、萨姆·佩金帕《比利小子》（1973）
715、成龙《A计划》（1983）
716、大卫·柯南伯格《毛骨悚然》（1975）
717、克莱尔·德尼《日烦夜烦》（2001）
718、阿尔弗雷德·希区柯克《贵妇失踪记》（1938）
719、斯坦利·库布里克《斯巴达克斯》（1960）
720、乔治·库克《费城故事》（1940）
721、雅克·德米《柳媚花娇》（1967）
722、米洛斯·福尔曼《爵士年代》（1981）
723、是枝裕和《怪物》（2023）
724、米开朗基罗·安东尼奥尼《扎布里斯基角》（1970）
725、奥逊·威尔斯《午夜钟声》（1965）
726、佩德罗·科斯塔《马钱》（2014）
727、路易斯·布努埃尔《一条安达鲁狗》（1929）
728、唐·希格尔《逃出亚卡拉》（1979）
729、亚利桑德罗·佐杜洛夫斯基《鼹鼠》（1971）
730、蔡明亮《不散》（2003）
731、亨利-乔治·克鲁佐《恐惧的代价》（1953）
732、迈克尔·西米诺《天堂之门》（1980）
733、埃米尔·库斯图里卡《黑猫白猫》（1998）
734、迈克尔·鲍威尔/埃默里克·普雷斯伯格《平步青云》（1946）
735、克日什托夫·基耶斯洛夫斯基《机遇之歌》（1987）
736、文森特·明奈利《玉女奇男》（1952）
737、朱利安·杜维威尔/约瑟夫·冯·斯登堡/维克多·弗莱明《翠堤春晓》（1938）
738、让-皮埃尔·梅尔维尔《红圈》（1970）
739、西德尼·波拉克《走出非洲》（1985）
740、安迪·沃霍尔《帝国大厦》（1965）
741、谢飞《香魂女》（1993）
742、西德尼·吕美特《电视台风云》（1976）
743、尔冬升《癫佬正传》（1986）
744、克林特·伊斯特伍德《完美的世界》（1993）
745、拉斯·冯·提尔《忧郁症》（2011）
746、巴斯特·基顿《稻草人》（1920）
747、今敏《东京教父》（2003）
748、英格玛·伯格曼《羞耻》（1968）
749、恩斯特·刘别谦《街角的商店》（1940）
750、毕赣《地球最后的夜晚》（2018）
751、丹尼斯·维伦纽瓦《边境杀手》（2015）
752、比利·怀尔德《满城风雨》（1974）
753、让·雷诺阿《衣冠禽兽》（1938）
754、安东尼·曼《万世英雄》（1961）
755、侯孝贤《海上花》（1998）
756、卡罗尔·里德《第三人》（1949）
757、黑泽明《红胡子》（1965）
758、达内兄弟《孩子》（2005）
759、弗朗索瓦·特吕弗《野孩子》（1970）
760、洪常秀《这时对，那时错》（2015）
761、杜琪峰《阿郎的故事》（1989）
762、山本映一《悲伤的贝拉多娜》（1973）
763、弗里茨·朗《血红街道》（1945）
764、路易斯·菲拉德《吸血鬼》（1915）
765、罗伯特·维内《卡里加里博士的小屋》（1920）
766、陈英雄《青木瓜之味》（1993）
767、是枝裕和《下一站，天国》（1998）
768、科恩兄弟《巴斯特·斯克鲁格斯的歌谣》（2018）
769、大卫·林奇《象人》（1980）
770、张艾嘉《相爱相亲》（2017）
771、克洛德·夏布洛尔《女人韵事》（1988）
772、蒂姆·波顿《艾德·伍德》（1994）
773、佩德罗·阿莫多瓦《崩溃边缘的女人》（1988）
774、迈克·尼科尔斯《毕业生》（1967）
775、凯莉·莱卡特《米克的近路》（2010）
776、西德尼·吕美特《奇幻核子战》（1964）
777、威廉·惠勒《偷龙转凤》（1966）
778、奥逊·威尔斯《上海小姐》（1947）
779、陈凯歌《风月》（1996）
780、阿基·考里斯马基《枯叶》（2023）
781、伍迪·艾伦《曼哈顿》（1979）
782、罗伯托·贝尼尼《美丽人生》（1997）
783、欧格斯·兰斯莫斯《可怜的东西》（2023）
784、特瑞·琼斯《万世魔星》（1979）
785、约翰·福特《要塞风云》（1948）
786、凯瑟琳·毕格罗《拆弹部队》（2008）
787、卡尔·西奥多·德莱叶《吸血鬼》（1932）
788、加斯帕·诺《爱恋》（2015）
789、迈克尔·鲍威尔/埃默里克·普雷斯伯格《我走我路》（1945）
790、保罗·托马斯·安德森《私恋失调》（2002）
791、山姆·雷米《鬼玩人》（1981）
792、肖恩·贝克《佛罗里达乐园》（2017）
793、查理·卓别林《凡尔杜先生》（1947）
794、朱塞佩·托纳多雷《隐秘》（2006）
795、皮埃尔·保罗·帕索里尼《乞丐》（1961）
796、阿尔弗雷德·希区柯克《西北偏北》（1959）
797、斯派克·李《黑潮》（1992）
798、普莱斯顿·斯特奇斯《江湖异人传》（1940）
799、寺山修司《身毒丸》（1978）
800、米开朗基罗·安东尼奥尼/维姆·文德斯《云上的日子》（1995）
801、梅索斯兄弟/夏洛特·泽韦林《推销员》（1969）
802、卢奎西亚·马特尔《扎马》（2017）
803、大卫·里恩《印度之行》（1985）
804、德里克·贾曼《蓝》（1993）
805、大卫·柯南伯格《孽扣》（1988）
806、保罗·范霍文《机器战警》（1987）
807、吉姆·贾木许《神秘列车》（1989）
808、徐克《刀马旦》（1986）
809、拉斯·冯·提尔《欧洲特快车》（1991）
810、古鲁·杜特《诗人悲歌》（1957）
811、罗伯托·罗西里尼《罗维雷将军》（1959）
812、巴斯特·基顿《一周》（1920）
813、管虎《斗牛》（2009）
814、瑟琳·席安玛《小妈妈》（2021）
815、伯格曼《豺狼时刻》（1968）
816、伍思薇《面子》（2004）
817、莱奥·卡拉克斯《新桥恋人》（1991）
818、安德鲁·斯坦顿《机器人总动员》（2008）
819、阿彼察邦·韦拉斯哈古《祝福》（2002）
820、乔治·库克/文森特·明奈利《梵高传》（1956）
821、让·维戈《亚特兰大号》（1934）
822、费尔南多·梅里尔斯《教宗的承继》（2019）
823、尼古拉斯·雷《荒漠怪客》（1954）
824、罗曼·波兰斯基《苔丝》（1979）
825、乔纳斯·梅卡斯《从一个快乐男人的生活中剪下不用的片段》（2013）
826、奉俊昊《汉江怪物》（2006）
827、雅克·塔蒂《于洛先生的假期》（1953）
828、保罗·索伦蒂诺《绝美之城》（2013）
829、朴赞郁《分手的决心》（2022）
830、比利·怀尔德《双重赔偿》（1944）
831、毕赣《路边野餐》（2016）
832、沃纳·赫尔佐格《史楚锡流浪记》（1977）
833、小津安二郎《小早川家之秋》（1961）
834、西德尼·吕美特《典当商》（1964）
835、罗伯特·德雷福《普通人》（1980）
836、泰伦斯·马利克《新世界》（2005）
837、胡金铨《迎春阁之风波》（1973）
838、迈克·李《又一年》（2010）
839、马丁·斯科塞斯《基督最后的诱惑》（1988）
840、阿布戴·柯西胥《阿黛尔的生活》（2013）
841、恩斯特·刘别谦《少奶奶的扇子》（1925）
842、克日什托夫·基耶斯洛夫斯基《十诫》（1989）
843、是枝裕和《奇迹》（2011）
844、科恩兄弟《醉乡民谣》（2013）
845、让·雷诺阿《逃兵》（1962）
846、王家卫《2046》（2004）
847、吉尔莫·德尔·托罗《水形物语》（2017）
848、迈克尔·哈内克《第七大陆》（1989）
849、路易斯·布努埃尔《朦胧的欲望》（1977）
850、约翰·卡萨维茨《夫君》（1970）
851、黑泽明《野良犬》（1949）
852、虞戡平《搭错车》（1983）
853、金基德《弓》（2005）
854、罗伯特·罗德里格兹《杀出个黎明》（1996）
855、顾长卫《立春》（2007）
856、维托里奥·德西卡《意大利式结婚》（1964）
857、拉斯·霍尔斯道姆《不一样的天空》（1993）
858、陈果《榴莲飘飘》（2000）
859、亨弗莱·詹宁斯《提摩西的日记》（1945）
860、佩德罗·科斯塔《前进青春》（2006）
861、朱莉·黛许《大地的女儿》（1991）
862、侯孝贤《最好的时光》（2005）
863、让-皮埃尔·梅尔维尔《莱昂莫汉神父》（1961）
864、托德·海因斯《安然无恙》（1995）
865、乔治·梅里爱《月球旅行记》（1902）
866、乌斯曼·塞姆班《黑女孩》（1966）
867、阿涅斯·瓦尔达《幸福》（1965）
868、朱利亚·蒂库诺《钛》（2021）
869、克里斯·马克《堤》（1962）
870、布莱恩·德·帕尔玛《天堂魅影》（1974）
871、查理·卓别林《舞台春秋》（1952）
872、亚利桑德罗·佐杜洛夫斯基《现实之舞》（2013）
873、萨蒂亚吉特·雷伊《大都会》（1963）
874、丹尼斯·维伦纽瓦《银翼杀手2049》（2017）
875、约翰·施莱辛格《午夜牛郎》（1969）
876、小林正树《夺命剑》（1967）
877、F·W·茂瑙《最卑贱的人》（1924）
878、理查德·阿滕伯勒《甘地传》（1982）
879、奥逊·威尔斯《历劫佳人》（1958）
880、艾伦·J·帕库拉《总统班底》（1976）
881、安迪·沃霍尔《雀西女郎》（1966）
882、特瑞·吉列姆《妙想天开》（1985）
883、米洛斯·福尔曼《消防员舞会》（1967）
884、史蒂芬·戴德利《跳出我天地》（2000）
885、乔治·弗朗叙《动物之血》（1949）
886、乔治·A·罗梅罗《活死人黎明》（1978）
887、弗朗西斯·福特·科波拉《造雨人》（1997）
888、大卫·里恩《相见恨晚》（1945）
889、欧格斯·兰斯莫斯《狗牙》（2009）
890、阿基·考里斯马基《浮云世事》（1996）
891、克日什托夫·基耶斯洛夫斯基《影迷》（1979）
892、皮埃尔·保罗·帕索里尼《罗马妈妈》（1962）
893、胡金铨《忠烈图》（1975）
894、罗伯·莱纳《当哈利遇到莎莉》（1989）
895、拉斯·冯·提尔《狗镇》（2003）
896、约翰·卡朋特《血溅十三号警署》（1976）
897、彼得·威尔《悬崖上的野餐》（1975）
898、山姆·雷米《鬼玩人2》（1987）
899、梅尔·布鲁克斯《制片人》（1968）
900、是枝裕和《幻之光》（1995）
901、克莱尔·德尼《35杯朗姆酒》（2008）
902、埃米尔·库斯图里卡《你还记得多莉·贝尔吗？》（1981）
903、史蒂文·索德伯格《性、谎言和录像带》（1989）
904、陈英雄《夏天的滋味》（2000）
905、罗伯特·布列松《穆谢特》（1967）
906、乔纳森·格雷泽《利益区域》（2023）
907、西德尼·波拉克《窈窕淑男》（1982）
908、米歇尔·阿扎纳维西于斯《艺术家》（2011）
909、让·雷诺阿《水姑娘》（1925）
910、罗曼·波兰斯基《荒岛惊魂》（1966）
911、肖恩·贝克《待绽蔷薇》（2012）
912、罗伯特·奥尔德里奇《兰闺惊变》（1962）
913、西德尼·吕美特《长夜漫漫路迢迢》（1962）
914、约瑟夫·L·曼凯维奇《幽灵与未亡人》（1947）
915、娄烨《推拿》（2014）
916、伊利亚·卡赞《天涯何处觅知音》（1961）
917、保罗·范霍文《本能》（1992）
918、莱奥·卡拉克斯《坏血》（1986）
919、乔治·罗伊·希尔《骗中骗》（1973）
920、迈克尔·哈内克《机遇编年史的71块碎片》（1994）
921、迈克尔·斯诺《波长》（1967）
922、贾法尔·帕纳西《出租车》（2015）
923、路易斯·布努埃尔《特丽丝塔娜》（1970）
924、雷内·克莱尔《间奏曲》（1924）
925、查理·卓别林《寻子遇仙记》（1921）
926、达内兄弟《他人之子》（2002）
927、乌斯曼·塞姆班《哈拉》（1975）
928、阿尔弗雷德·希区柯克《美人计》（1946）
929、米格尔·戈麦斯《禁忌》（2012）
930、乔丹·皮尔《逃出绝命镇》（2017）
931、艾伦·霍福德/梅索斯兄弟/墨菲·梅耶《灰色花园》（1975）
932、弗朗西斯·福特·科波拉《窃听大阴谋》（1974）
933、丹尼斯·维伦纽瓦《沙丘》（2021）
934、伍迪·艾伦《蓝色茉莉》（2013）
935、让·雷诺阿《大泽之水》（1941）
936、侯孝贤《刺客聂隐娘》（2015）
937、欧格斯·兰斯莫斯《宠儿》（2018）
938、克洛德·夏布洛尔《屠夫》（1970）
939、陈凯歌《荆轲刺秦王》（1998）
940、阿基·考里斯马基《勒阿弗尔》（2011）
941、哈罗德·雷米斯《土拨鼠之日》（1993）
942、拉斯·冯·提尔《女性瘾者：第二部》（2013）
943、特瑞·琼斯/特瑞·吉列姆《人生七部曲》（1983）
944、罗伯·莱纳《摇滚万万岁》（1984）
945、约翰·卡萨维茨《谋杀地下老板》（1976）
946、保罗·罗沙《里斯本之恋》（1963）
947、佩德罗·科斯塔《何处安放你藏起的笑容》（2001）
948、科恩兄弟《米勒的十字路口》（1990）
949、卡尔·西奥多·德莱叶《葛楚》（1964）
950、陆川《可可西里》（2004）
951、韦斯·安德森《月升王国》（2012）
952、乔治·弗朗叙《没有面孔的眼睛》（1960）
953、瑟琳·席安玛《假小子》（2011）
954、黑泽明《泥醉天使》（1948）
955、尼古拉斯·雷《夜逃鸳鸯》（1948）
956、乔治·卢卡斯《美国风情画》（1973）
957、凯瑟琳·毕格罗《惊爆点》（1991）
958、塔西姆·辛《坠入》（2006）
959、奥逊·威尔斯《奥赛罗》（1951）
960、沃卓斯基姐妹《惊世狂花》（1996）
961、王家卫《旺角卡门》（1988）
962、巴斯特·基顿《摄影师》（1928）
963、德里克·贾曼《英格兰末日》（1987）
964、迈克尔·哈内克《巴黎浮世绘》（2000）
965、罗伯托·罗西里尼《战火》（1946）
966、黄健中《过年》（1991）
967、巴里·詹金斯《月光男孩》（2016）
968、吉洛·彭泰科沃《零点地带》（1960）
969、普莱斯顿·斯特奇斯《苏利文的旅行》（1941）
970、吉布里尔·迪奥普·曼贝蒂《土狼》（1992）
971、保罗·托马斯·安德森《一战再战》（2025）
972、韦斯·克雷文《猛鬼街》（1984）
973、查尔斯·伯内特《杀羊人》（1978）
974、克莱尔·德尼《入侵者》（2004）
975、凯莉·莱卡特《温蒂和露西》（2008）
976、查理·考夫曼《纽约提喻法》（2008）
977、迈克·李《赤裸裸》（1993）
978、乔治·梅里爱《天文学家之梦》（1898）
979、亚利桑德罗·佐杜洛夫斯基《诗无尽头》（2016）
980、雅克·德米《萝拉》（1961）
981、约翰·沃特斯《粉红色的火烈鸟》（1972）
982、古鲁·杜特《纸花》（1959）
983、托德·布朗宁《三个邪恶的人》（1925）
984、阿基·考里斯马基《波西米亚生活》（1992）
985、托比·霍珀《德州电锯杀人狂》（1974）
986、查理·卓别林《巴黎一妇人》（1923）
987、让·雷诺阿《黄金马车》（1952）
988、小林正树《人间的条件》系列（1959-1961）
989、简·坎皮恩《甜妹妹》（1989）
990、欧格斯·兰斯莫斯《圣鹿之死》（2017）
991、萨姆·佩金帕《午后枪声》（1962）
992、加斯帕·诺《遁入虚无》（2009）
993、克里斯·马克《日月无光》（1983）
994、斯坦·布拉哈格《飞蛾之光》（1963）
995、梅尔·布鲁克斯《新科学怪人》（1974）
996、乌斯曼·塞姆班《外来人》（1979）
997、黑泽明《恶汉甜梦》（1960）
998、让·维戈《操行零分》（1933）
999、克日什托夫·基耶斯洛夫斯基《两生花》（1991）
1000、阿尔塔瓦斯德·佩莱希扬《四季》（1975）
`;

// 2) 自动解析：rank / director / title / year
function parseLine(line: string) {
  const s = line.trim();
  if (!s) return null;

  // rank：支持 “1、” “1.” “1 ” 这类写法
  const mRank = s.match(/^(\d+)\s*(?:[、\.,，:：\)\）\-]|)\s*/);
  if (!mRank) return null;
  const rank = Number(mRank[1]);
  const rest = s.slice(mRank[0].length).trim();

  // 找《 》与（ ）的位置
  const iL = rest.indexOf("《");
  const iR = rest.lastIndexOf("》");
  const iY1 = rest.lastIndexOf("（");
  const iY2 = rest.lastIndexOf("）");

  if (iL === -1 || iR === -1 || iY1 === -1 || iY2 === -1 || iR < iL || iY2 < iY1) {
    // 容错：解析失败就把整行塞进 title，保证不崩
    return { rank, director: "", title: rest, year: "" };
  }

  const director = rest.slice(0, iL).trim();

  // title：把《…》内部 + “》”后面到“（”前的后缀一起保留（例如 “《教父》系列”）
  const titleCore = rest.slice(iL + 1, iR).trim();
  const suffix = rest.slice(iR + 1, iY1).trim();
  const title = (titleCore + (suffix ? suffix : "")).trim();

  // year：允许不是纯数字（例如你那条《双峰》系列的复合年份说明）
  const year = rest.slice(iY1 + 1, iY2).trim();

  return { rank, title, director, year };
}

type Film = { rank: number; title: string; director: string; year: string };

const films = rawList
  .split(/\r?\n/)
  .map((l: string) => parseLine(l))
  .filter((x): x is Film => x !== null)
  .sort((a, b) => a.rank - b.rank);
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
  </head>

  <body>
    <main class="page">
      <div class="top-actions">
        <a class="back-home" href="/">← 返回主页</a>
      </div>

      <header class="hero">
        <div class="hero-img">
          <img src="/2001.jpg" alt="电影千佳" />
        </div>

        <div class="hero-text">
          <div class="kicker">电影榜单</div>
          <h1 class="title">{pageTitle}</h1>
          <p class="subtitle">{subtitle}</p>
        </div>
      </header>

      <section class="panel">
        <ol class="grid">
          {films.map((f) => (
            <li class="card">
              <div class="badge">{f.rank}</div>
              <div>
                <div class="film-title">{f.title}</div>
                <div class="meta">{f.director}{f.director ? " · " : ""}{f.year}</div>
              </div>
            </li>
          ))}
        </ol>
      </section>

      <footer class="footnote">
        <span class="line">所谓生活，无非时间、空间和你。</span>
      </footer>
    </main>

    <style>
      body{ margin:0; font-family: system-ui,"PingFang SC","Microsoft YaHei",sans-serif; background:#fff; color:#111; }
      .page{ max-width:980px; margin:0 auto; padding:40px 20px 70px; }
      .top-actions{ display:flex; justify-content:flex-start; margin-bottom:16px; }
      .back-home,.back-muted{ text-decoration:none; font-size:14px; padding:6px 10px; border-radius:10px; color:#777; }
      .back-home:hover,.back-muted:hover{ background:#f0f0f0; color:#111; }

      .hero-img img{ width:100%; border-radius:14px; border:1px solid #e5e5e5; }
      .hero-text{ margin-top:20px; }
      .kicker{ font-size:13px; letter-spacing:.14em; opacity:.6; }
      .title{ font-size:clamp(34px,5vw,54px); margin:8px 0 0; }
      .subtitle{ color:#777; margin-top:10px; }

      .panel{ margin-top:28px; }
      .grid{ list-style:none; padding:0; display:grid; gap:10px; }
      .card{ display:grid; grid-template-columns:56px 1fr; gap:14px; padding:14px; background:#f5f5f5; border-radius:14px; }
      .badge{ font-weight:700; }
      .film-title{ font-weight:600; }
      .meta{ color:#666; font-size:13px; margin-top:6px; }

      .footnote{ margin-top:30px; padding-top:18px; border-top:1px solid #e5e5e5; text-align:center; color:#777; font-size:14px; }
    </style>
  </body>
</html>
