---
const pageTitle = "电影千佳";
const subtitle = "个人精选 · 1895至今";

// 1) 把你那 1000 行原始名单粘到这里（保持每条占一行即可）
const rawList = String.raw`
Adkins个人影史千佳
1、斯坦利·库布里克《2001太空漫游》（1968）
2、阿尔弗雷德·希区柯克《惊魂记》（1960）
3、奥逊·威尔斯《公民凯恩》（1941）
4、马丁·斯科塞斯《出租车司机》（1976）
5、让-吕克·戈达尔《精疲力尽》（1960）
6、埃米尔·库斯图里卡《地下》（1995）
7、费德里科·费里尼《八部半》（1963）
8、沃纳·赫尔佐格《陆上行舟》（1982）
9、弗朗西斯·福特·科波拉《教父》系列（1972/1974/1990）
10、杨德昌《一一》（2000）
11、英格玛·伯格曼《假面》（1966）
12、雷德利·斯科特《银翼杀手》（1982）
13、侯孝贤《悲情城市》（1989）
14、安德烈·塔可夫斯基《飞向太空》（1972）
15、陈凯歌《霸王别姬》（1993）
16、赛尔乔·莱昂内《美国往事》（1984）
17、查理·卓别林《摩登时代》（1936）
18、弗里茨·朗《M就是凶手》（1931）
19、黑泽明《七武士》（1954）
20、昆汀·塔伦蒂诺《低俗小说》（1994）
21、张艺谋《大红灯笼高高挂》（1991）
22、罗曼·波兰斯基《唐人街》（1974）
23、王童《无言的山丘》（1992）
24、维托里奥·德西卡《偷自行车的人》（1948）
25、王家卫《花样年华》（2000）
26、杨德昌《牯岭街少年杀人事件》（1991）
27、马丁·斯科塞斯《好家伙》（1990）
28、今村昌平《楢山节考》（1983）
29、弗朗索瓦·特吕弗《四百击》（1959）
30、斯派克·李《为所应为》（1989）
31、李安《饮食男女》（1994）
32、伍迪·艾伦《西力传》（1983）
33、吉洛·彭泰科沃《阿尔及尔之战》（1966）
34、让-吕克·戈达尔《狂人皮埃罗》（1965）
35、阿涅斯·瓦尔达/让·热内《脸庞，村庄》（2017）
36、阿尔弗雷德·希区柯克《迷魂记》（1958）
37、小津安二郎《东京物语》（1953）
38、张艺谋《活着》（1994）
39、斯坦利·库布里克《发条橙》（1971）
40、比利·怀尔德《控方证人》（1957）
41、胡金铨《侠女》（1970）
42、大卫·柯南伯格《变蝇人》（1986）
43、田壮壮《蓝风筝》（1993）
44、吉加·维尔托夫《持摄影机的人》（1929）
45、雷德利·斯科特《末路狂花》（1991）
46、贾樟柯《站台》（2000）
47、史蒂文·斯皮尔伯格《辛德勒的名单》（1993）
48、桑弧《哀乐中年》（1949）
49、佩德罗·阿莫多瓦《关于我母亲的一切》（1999）
50、王家卫《春光乍泄》（1997）
51、詹姆斯·卡梅隆《泰坦尼克号》（1997）
52、弗里茨·朗《大都会》（1927）
53、泰伦斯·马利克《穷山恶水》（1973）
54、米洛斯·福尔曼《飞越疯人院》（1975）
55、蔡明亮《爱情万岁》（1994）
56、罗曼·波兰斯基《苦月亮》（1992）
57、让-吕克·戈达尔《周末》（1967）
58、姜文《让子弹飞》（2010）
59、阿彼察邦·韦拉斯哈古《热带疾病》（2004）
60、谢晋《高山下的花环》（1984）
61、伊利亚·卡赞《欲望号街车》（1951）
62、大卫·林奇《橡皮头》（1977）
63、宫崎骏《哈尔的移动城堡》（2004）
64、侯孝贤《恋恋风尘》（1986）
65、查理·卓别林《城市之光》（1931）
66、科恩兄弟《老无所依》（2007）
67、贝尔纳多·贝托鲁奇《末代皇帝》（1987）
68、拉斯·冯·提尔《破浪》（1996）
69、萨蒂亚吉特·雷伊《大树之歌》（1959）
70、朱塞佩·托纳多雷《天堂电影院》（1988）
71、阿巴斯·基亚罗斯塔米《樱桃的滋味》（1997）
72、米开朗基罗·安东尼奥尼《中国》（1972）
73、伍迪·艾伦《安妮·霍尔》（1977）
74、安德烈·塔可夫斯基《乡愁》（1983）
75、达伦·阿伦诺夫斯基《梦之安魂曲》（2000）
76、姜文《阳光灿烂的日子》（1994）
77、弗朗西斯·福特·科波拉《现代启示录》（1979）
78、克里斯托弗·诺兰《星际穿越》（2014）
79、谢尔盖·爱森斯坦《战舰波将金号》（1925）
80、大卫·里恩《日瓦戈医生》（1965）
81、罗伯特·奥特曼《纳什维尔》（1975）
82、迈克尔·哈内克《钢琴教师》（2001）
83、杨德昌《恐怖分子》（1939）
84、英格玛·伯格曼《处女泉》（1960）
85、阿尔弗雷德·希区柯克《蝴蝶梦》（1940）
86、斯坦利·库布里克《奇爱博士》（1964）
87、比利·怀尔德《热情如火》（1959）
88、保罗·托马斯·安德森《不羁夜》（1997）
89、迈克尔·柯蒂兹《卡萨布兰卡》（1942）
90、小林正树《怪谈》（1964）
91、贾樟柯《三峡好人》（2006）
92、西德尼·富兰克林/维克多·弗莱明《大地》（1937）
93、黑泽明《罗生门》（1950）
94、李安《卧虎藏龙》（2000）
95、克莱尔·德尼《军中禁恋》（1999）
96、王家卫《重庆森林》（1994）
97、奥逊·威尔斯《审判》（1962）
98、维克多·艾里斯《蜂巢幽灵》（1973）
99、让·雷诺阿《游戏规则》（1939）
100、让-吕克·戈达尔《法外之徒》（1964）
101、罗伯特·泽米吉斯《阿甘正传》（1994）
102、许鞍华《投奔怒海》（1982）
103、马丁·布莱斯特《闻香识女人》（1992）
104、阿基·考里斯马基《没有过去的男人》（2002）
105、费尔南多·梅里尔斯/卡地亚·兰德《上帝之城》（2002）
106、科恩兄弟《巴顿·芬克》（1991）
107、史蒂文·斯皮尔伯格《拯救大兵瑞恩》（1998）
108、约翰·福特《双虎屠龙》（1962）
109、姜文《鬼子来了》（2000）
110、查理·卓别林《大独裁者》（1940）
111、巴斯特·基顿《将军号》（1926）
112、马丁·斯科塞斯《愤怒的公牛》（1980）
113、赛尔乔·莱昂内《西部往事》（1968）
114、大卫·芬奇《搏击俱乐部》（1999）
115、杨德昌《独立时代》（1994）
116、罗曼·波兰斯基《罗斯玛丽的婴儿》（1968）
117、阿伦·雷乃《广岛之恋》（1959）
118、克林特·伊斯特伍德《不可饶恕》（1992）
119、理查德·林克莱特《少年时代》（2014）
120、佩德罗·阿莫多瓦《回归》（2006）
121、大卫·林奇《史崔特先生的故事》（1999）
122、宫崎骏《幽灵公主》（1997）
123、鲍勃·福斯《歌厅》（1972）
124、米洛斯·福尔曼《莫扎特传》（1984）
125、威廉·惠勒《宾虚》（1959）
126、李杨《盲山》（2007）
127、彼得·杰克逊《指环王》系列（2001/2002/2003）
128、约翰·卡萨维茨《醉酒的女人》（1974）
129、弗洛里安·亨克尔·冯·多纳斯马尔克《窃听风暴》（2006）
130、斯坦利·库布里克《全金属外壳》（1987）
131、张之亮《笼民》（1992）
132、英格玛·伯格曼《婚姻生活》（1973）
133、沃卓斯基姐妹《黑客帝国》系列（1999/2003）
134、黑泽明《乱》（1985）
135、杜琪峰《枪火》（1999）
136、乔纳斯·梅卡斯《当我往前走之时偶尔会瞥到一缕美丽之景》（2000）
137、奥利弗·斯通《天生杀人狂》（1994）
138、克日什托夫·基耶斯洛夫斯基《杀人短片》（1988）
139、李安《色，戒》（2007）
140、阿尔弗雷德·希区柯克《群鸟》（1963）
141、让-吕克·戈达尔《随心所欲》（1962）
142、米开朗基罗·安东尼奥尼《放大》（1966）
143、阿巴斯·基亚罗斯塔米《何处是我朋友的家》（1987）
144、张艺谋《红高粱》（1988）
145、比利·怀尔德《日落大道》（1950）
146、雷德利·斯科特《异形》（1979）
147、约瑟夫·L·曼凯维奇《彗星美人》（1950）
148、保罗·托马斯·安德森《木兰花》（1999）
149、陈果《细路祥》（1999）
150、迈克·李《秘密与谎言》（1996）
151、吉姆·贾木许《帕特森》（2016）
152、萨姆·佩金帕《日落黄沙》（1969）
153、宫崎骏《龙猫》（1988）
154、李维克·伽塔克《一条叫做底塔斯的河》（1973）
155、大卫·柯南伯格《欲望号快车》（1996）
156、贾樟柯《天注定》（2013）
157、昆汀·塔伦蒂诺《无耻混蛋》（2009）
158、拉斯·冯·提尔《此房是我造》（2018）
159、阿斯加·法哈蒂《一次别离》（2011）
160、安德烈·塔可夫斯基《伊万的童年》（1962）
161、西德尼·吕美特《十二怒汉》（1957）
162、阿基·考里斯马基《火柴厂女工》（1990）
163、弗里茨·朗《三生计》（1921）
164、泰伦斯·马利克《天堂之日》（1978）
165、蔡明亮《河流》（1997）
166、寺山修司《死者田园祭》（1974）
167、奉俊昊《寄生虫》（2019）
168、斯坦利·多南/吉恩·凯利《雨中曲》（1952）
169、王童《香蕉天堂》（1989）
170、伍迪·艾伦《解构爱情狂》（1997）
171、马丁·斯科塞斯《爱尔兰人》（2019）
172、阿彼察邦·韦拉斯哈古《能召回前世的布米叔叔》（2010）
173、史蒂文·斯皮尔伯格《E.T.外星人》（1982）
174、佩德罗·阿莫多瓦《痛苦与荣耀》（2019）
175、侯孝贤《童年往事》（1985）
176、F·W·茂瑙《诺斯费拉图》（1922）
177、让-吕克·戈达尔《电影史》（1998）
178、约翰·福特《搜索者》（1956）
179、阿涅斯·瓦尔达《拾穗者》（2000）
180、许鞍华《千言万语》（1999）
181、杨德昌《麻将》（1996）
182、昆汀·塔伦蒂诺《八恶人》（2015）
183、布莱恩·德·帕尔玛《魔女嘉莉》（1976）
184、罗曼·波兰斯基《怪房客》（1976）
185、李安《喜宴》（1993）
186、格劳贝尔·罗恰《大地的年纪》（1980）
187、简·坎皮恩《钢琴课》（1993）
188、维克多·弗莱明/乔治·库克/山姆·伍德《乱世佳人》（1939）
189、雷德利·斯科特《天国王朝》（2005）
190、今村昌平《诸神的欲望》（1968）
191、黑泽明《电车狂》（1970）
192、亚利桑德罗·冈萨雷斯·伊纳里图《爱情是狗娘》（2000）
193、迈克尔·哈内克《爱》（2012）
194、斯坦利·库布里克《光荣之路》（1957）
195、是枝裕和《无人知晓》（2004）
196、英格玛·伯格曼《野草莓》（1957）
197、李沧东《薄荷糖》（1999）
198、贝拉·塔尔《都灵之马》（2011）
199、关锦鹏《阮玲玉》（1991）
200、让·雷诺阿《大河》（1951）
201、安德烈·祖拉斯基《着魔》（1981）
202、米开朗基罗·安东尼奥尼《奇遇》（1960）
203、依莱姆·克里莫夫《自己去看》（1985）
204、罗伯托·罗西里尼《德意志零年》（1948）
205、丹尼·博伊尔《猜火车》（1996）
206、吴宇森《英雄本色》（1986）
207、梅雅·黛伦《午后的迷惘》（1943）
208、今敏《未麻的部屋》（1997）
209、巴斯特·基顿《邻居们》（1920）
210、胡金铨《山中传奇》（1979）
211、吉姆·贾木许《离魂异客》（1995）
212、小津安二郎《晚春》（1949）
213、魏德圣《赛德克·巴莱》（2012）
214、亚利桑德罗·佐杜洛夫斯基《圣山》（1973）
215、罗伯·莱纳《伴我同行》（1986）
216、奥逊·威尔斯/罗伯特·怀斯/弗雷德·弗莱克《伟大的安巴逊》（1942）
217、彼得·威尔《楚门的世界》（1998）
218、赛尔乔·莱昂内《黄金三镖客》（1966）
219、弗里茨·朗《玩家马布斯博士》（1922）
220、大卫·林奇《穆赫兰道》（2001）
221、卡尔·西奥多·德莱叶《圣女贞德蒙难记》（1928）
222、乔治·卢卡斯《星球大战》及前传系列（1977/1980/1983/1999/2002/2005）
223、费穆《小城之春》（1948）
224、萨蒂亚吉特·雷伊《大河之歌》（1956）
225、西德尼·吕美特《热天午后》（1975）
226、赛尔乔·莱昂内《革命往事》（1971）
227、比利·怀尔德《玉女风流》（1961）
228、宫崎骏《千与千寻》（2001）
229、卢奎西亚·马特尔《沼泽》（2001）
230、洪常秀《独自在夜晚的海边》（2017）
231、娄烨《颐和园》（2006）
232、李维克·伽塔克《云遮星》（1960）
233、许鞍华《天水围的日与夜》（2008）
234、罗曼·波兰斯基《钢琴家》（2002）
235、阿基·考里斯马基《列宁格勒牛仔征美记》（1989）
236、鲍勃·福斯《爵士春秋》（1979）
237、阿涅斯·瓦尔达《天涯沦落女》（1985）
238、黄信尧《大佛普拉斯》（2017）
239、内尔森·帕累拉·德桑托斯《艰辛岁月》（1967）
240、克日什托夫·基耶斯洛夫斯基《红白蓝三部曲之白》（1994）
241、弗兰克·德拉邦特《肖申克的救赎》（1994）
242、维克多·艾里斯《榅桲树阳光》（1992）
243、杨德昌《海滩的一天》（1983）
244、英格玛·伯格曼《芬妮与亚历山大》（1982）
245、安德烈·塔可夫斯基《安德烈·卢布廖夫》（1966）
246、张艺谋《菊豆》（1990）
247、阿巴斯·基亚罗斯塔米《特写》（1990）
248、约翰·卡萨维茨《女煞葛洛莉》（1980）
249、蔡明亮《青少年哪吒》（1992）
250、阿尔弗雷德·希区柯克《后窗》（1954）
251、保罗·托马斯·安德森《血色将至》（2007）
252、昆汀·塔伦蒂诺《被解救的姜戈》（2012）
253、黑泽明《天国与地狱》（1963）
254、蒋雯丽《我们天上见》（2009）
255、迈克尔·鲍威尔《偷窥狂》（1960）
256、琳恩·拉姆塞《捕鼠者》（1999）
257、宫崎骏《天空之城》（1986）
258、约翰·福特《愤怒的葡萄》（1940）
259、弗朗索瓦·特吕弗《婚姻生活》（1970）
260、贾樟柯《小武》（1998）
261、让-吕克·戈达尔《女人就是女人》（1961）
262、侯孝贤《风柜来的人》（1983）
263、史蒂文·斯皮尔伯格《大白鲨》（1975）
264、艾伦·帕克《迷墙》（1982）
265、拉斯·冯·提尔《黑暗中的舞者》（2000）
266、李沧东《绿洲》（2002）
267、路易斯·布努埃尔《资产阶级的审慎魅力》（1972）
268、阿伦·雷乃《夜与雾》（1956）
269、克林特·伊斯特伍德《百万美元宝贝》（2004）
270、寺山修司《再见箱舟》（1984）
271、阿涅斯·瓦尔达《五至七时的克莱奥》（1962）
272、李杨《盲井》（2003）
273、斯坦利·库布里克《巴里·林登》（1975）
274、乔纳森·戴米《沉默的羔羊》（1991）
275、伊利亚·卡赞《码头风云》（1954）
276、奉俊昊《杀人回忆》（2003）
277、弗里茨·朗《尼伯龙根：西格弗里德之死》（1924）
278、王童《红柿子》（1997）
279、沃尔夫冈·彼德森《从海底出击》（1981）
280、马丁·斯科塞斯《下班后》（1985）
281、史蒂芬·戴德利《时时刻刻》（2002）
282、李安《推手》（1991）
283、保罗·范霍文《艳舞女郎》（1995）
284、乔治·米勒《疯狂的麦克斯4：狂暴之路》（2015）
285、是枝裕和《步履不停》（2008）
286、皮埃尔·保罗·帕索里尼《马太福音》（1964）
287、英格玛·伯格曼《第七封印》（1957）
288、米开朗基罗·安东尼奥尼《夜》（1961）
289、亚利桑德罗·冈萨雷斯·伊纳里图《通天塔》（2006）
290、胡金铨《空山灵雨》（1979）
291、克洛德·夏布洛尔《冷酷祭典》（1995）
292、罗伯特·布列松《驴子巴特萨》（1966）
293、萨姆·门德斯《美国丽人》（1999）
294、约翰·卡朋特《怪形》（1982）
295、吉姆·贾木许《天堂陌影》（1984）
296、王家卫《一代宗师》（2013）
297、丹尼斯·维伦纽瓦《焦土之城》（2010）
298、比利·怀尔德《桃色公寓》（1960）
299、沃尔特·塞勒斯《中央车站》（1998）
300、克里斯托弗·诺兰《盗梦空间》（2010）
301、格斯·范·桑特《大象》（2003）
302、宫崎骏《风之谷》（1984）
303、罗伯特·奥特曼《漫长的告别》（1973）
304、布莱恩·德·帕尔玛《疤面煞星》（1983）
305、朴赞郁《老男孩》（2003）
306、维克多·弗莱明/金·维多《绿野仙踪》（1939）
307、娄烨《苏州河》（2000）
308、伍迪·艾伦《开罗紫玫瑰》（1985）
309、科恩兄弟《冰血暴》（1996）
310、佩德罗·阿莫多瓦《不良教育》（2004）
311、阿巴斯·基亚罗斯塔米《随风而逝》（1999）
312、杜琪峰《暗战》（1999）
313、吕克·贝松《第五元素》（1997）
314、阿尔弗雷德·希区柯克《电话谋杀案》（1954）
315、陈可辛《甜蜜蜜》（1996）
316、弗朗索瓦·特吕弗《爱情狂奔》（1979）
317、今敏《千年女优》（2001）
318、奥利佛·斯通《天与地》（1993）
319、蔡明亮《洞》（1998）
320、吴宇森《喋血双雄》（1989）
321、大卫·柯南伯格《暴力史》（2005）
322、雅克·德米《瑟堡的雨伞》（1964）
323、赛尔乔·莱昂内《黄昏双镖客》（1965）
324、张艺谋《英雄》（2002）
325、卡尔·西奥多·德莱叶《词语》（1955）
326、罗曼·波兰斯基《不道德的审判》（1994）
327、索菲亚·科波拉《迷失东京》（2003）
328、侯孝贤《南国再见，南国》（1996）
329、约书亚·奥本海默《杀戮演绎》（2012）
330、让-吕克·戈达尔《男性，女性》（1966）
331、许鞍华《客途秋恨》（1990）
332、罗伯特·泽米吉斯《回到未来》系列（1985/1989/1990）
333、鲍勃·福斯《伦尼的故事》（1974）
334、阿基·考里斯马基《天堂孤影》（1986）
335、阿方索·卡隆《你妈妈也一样》（2001）
336、金基德《春夏秋冬又一春》（2003）
337、乔治·库克《煤气灯下》（1944）
338、小津安二郎《秋刀鱼之味》（1962）
339、让·雷诺阿《法国康康舞》（1955）
340、谢晋《芙蓉镇》（1987）
341、约翰·卡萨维茨《首演之夜》（1977）
342、拉斯·霍尔斯道姆《忠犬八公的故事》（2009）
343、宫崎骏《魔女宅急便》（1989）
344、格劳贝尔·罗恰《痛苦的大地》（1967）
345、弗里茨·朗《马布斯博士的遗嘱》（1933）
346、罗启锐《岁月神偷》（2010）
347、寺山修司《抛掉书本上街去》（1971）
348、乔纳森·戴米《费城故事》（1993）
349、王小帅《地久天长》（2019）
350、约翰·福特《关山飞渡》（1939）
351、维托里奥·德西卡《擦鞋童》（1946）
352、胡波《大象席地而坐》（2018）
353、雷德利·斯科特《黑鹰坠落》（2001）
354、李沧东《燃烧》（2018）
355、伍迪·艾伦《曼哈顿谋杀疑案》（1993）
356、安东尼·明格拉《冷山》（2003）
357、昆汀·塔伦蒂诺《杀死比尔》（2003）
358、迈克尔·西米诺《猎鹿人》（1978）
359、朴赞郁《小姐》（2016）
360、米开朗基罗·安东尼奥尼《红色沙漠》（1964）
361、马丁·斯科塞斯《喜剧之王》（1982）
362、李安《少年派的奇幻漂流》（2012）
363、黑泽明《影武者》（1980）
364、娄烨《春风沉醉的夜晚》（2009）
365、阿内·拉鲁《原始星球》（1973）
366、瑟琳·席安玛《燃烧女子的肖像》（2019）
367、大卫·芬奇《七宗罪》（1995）
368、安德烈·塔可夫斯基《牺牲》（1986）
369、阿巴斯·基亚罗斯塔米《生生长流》（1992）
370、史蒂文·斯皮尔伯格《人工智能》（2001）
371、大卫·林奇《双峰》系列（1990/1992/2017）
372、托德·海因斯《黑水》（2019）
373、赛尔乔·莱昂内《荒野大镖客》（1964）
374、关锦鹏《蓝宇》（2001）
375、金·维多《群众》（1928）
376、大卫·芬奇《本杰明·巴顿奇事》（2008）
377、英格玛·伯格曼《秋日奏鸣曲》（1978）
378、大卫·柯南伯格《灵婴》（1979）
379、王家卫《阿飞正传》（1990）
380、奥利弗·希施比格尔《帝国的毁灭》（2004）
381、赵婷《无依之地》（2020）
382、科恩兄弟《大地惊雷》（2010）
383、贝纳尔多·贝托鲁奇《同流者》（1970）
384、亚利桑德罗·冈萨雷斯·伊纳里图《美错》（2010）
385、侯孝贤《冬冬的假期》（1984）
386、阿尔弗雷德·希区柯克《夺魂索》（1948）
387、恩斯特·刘别谦《你逃我也逃》（1942）
388、斯坦利·库布里克《闪灵》（1980）
389、迈克尔·哈内克《隐藏摄像机》（2005）
390、张艺谋《秋菊打官司》（1992）
391、罗伯特·布列松《扒手》（1959）
392、罗曼·波兰斯基《杀戮》（2011）
393、路易斯·布努埃尔《维莉蒂安娜》（1961）
394、迈克尔·鲍威尔/埃默里克·普雷斯伯格《红菱艳》（1948）
395、黑泽明《德尔苏·乌扎拉》（1975）
396、巴斯特·基顿《福尔摩斯二世》（1924）
397、克里斯·马克《红在革命蔓延时》（1977）
398、彼得·威尔《死亡诗社》（1989）
399、蔡明亮《你那边几点》（2001）
400、罗伯托·罗西里尼《罗马，不设防的城市》（1945）
401、埃米尔·库斯图里卡《亚利桑那之梦》（1993）
402、罗伯特·奥特曼《三女性》（1977）
403、弗朗索瓦·特吕弗《射杀钢琴师》（1960）
404、罗伯特·怀斯《音乐之声》（1965）
405、梅尔·吉布森《启示》（2006）
406、乔纳斯·梅卡斯《笔记·日志·素描》（1970）
407、杨德昌《青梅竹马》（1985）
408、奥利弗·斯通《刺杀肯尼迪》（1991）
409、马丁·斯科塞斯《纽约，纽约》（1977）
410、阿方索·卡隆《罗马》（2018）
411、阿伦·雷乃《去年在马里昂巴德》（1961）
412、萨姆·佩金帕《惊天动地抢人头》（1974）
413、今村昌平《黑雨》（1989）
414、达内兄弟《一诺千金》（1996）
415、乔治·库克《窈窕淑女》（1964）
416、罗杰·阿勒斯/罗伯·明可夫《狮子王》（1994）
417、徐克《青蛇》（1993）
418、克日什托夫·基耶斯洛夫斯基《蓝白红三部曲之蓝》（1994）
419、尼古拉斯·雷《无因的反叛》（1955）
420、文森特·明奈利《一个美国人在巴黎》（1951）
421、黑泽明《蜘蛛巢城》（1957）
422、理查德·林克莱特《爱在》系列（1995/2003/2013）
423、约翰·卡萨维茨《面孔》（1968）
424、弗兰克·卡普拉《生活多美好》（1946）
425、让·雷诺阿《母狗》（1931）
426、英格玛·伯格曼《呼喊与细语》（1972）
427、杜琪峰《神探》（2007）
428、大卫·柯南伯格《录影带谋杀案》（1983）
429、托德·布朗宁《畸形人》（1932）
430、许鞍华《女人，四十》（1995）
431、大岛渚《感官世界》（1976）
432、雅克·塔蒂《玩乐时间》（1967）
433、科恩兄弟《抚养亚利桑纳》（1987）
434、萨蒂亚吉特·雷伊《音乐室》（1958）
435、贝拉·塔尔《鲸鱼马戏团》（2000）
436、马丁·麦克唐纳《三块广告牌》（2017）
437、格劳贝尔·罗恰《黑上帝白魔鬼》（1964）
438、昆汀·塔伦蒂诺《落水狗》（1992）
439、达里奥·阿基多《阴风阵阵》（1977）
440、布莱恩·德·帕尔玛《情枭的黎明》（1993）
441、迈克尔·哈内克《趣味游戏》（1997）
442、吴宇森《喋血街头》（1990）
443、大卫·林奇《蓝丝绒》（1986）
444、阿涅斯·瓦尔达《阿涅斯的海滩》（2008）
445、托德·海因斯《卡罗尔》（2015）
446、奥利弗·斯通《野战排》（1986）
447、拉斯·冯·提尔《白痴》（1998）
448、李安《断背山》（2005）
449、小津安二郎《麦秋》（1951）
450、恩斯特·刘别谦《妮诺契卡》（1939）
451、朴赞郁《我要复仇》（2002）
452、约翰·福特《青山翠谷》（1941）
453、斯派克·琼斯《她》（2013）
454、阿尔弗雷德·希区柯克《辣手摧花》（1943）
455、约瑟夫·L·曼凯维奇/鲁本·马莫利安《埃及艳后》（1963）
456、陈凯歌《孩子王》（1987）
457、迈克尔·曼《盗火线》（1995）
458、沃纳·赫尔佐格《阿基尔，上帝的愤怒》（1972）
459、马丁·斯科塞斯《赌城风云》（1995）
460、皮埃尔·保罗·帕索里尼《索多玛120天》（1975）
461、顾长卫《孔雀》（2005）
462、罗曼·波兰斯基《穿裘皮的维纳斯》（2013）
463、陈果《去年烟花特别多》（1998）
464、克林特·伊斯特伍德《廊桥遗梦》（1995）
465、伍迪·艾伦《性爱宝典》（1972）
466、保罗·范霍文《星河战队》（1997）
467、朴赞郁《亲切的金子》（2005）
468、罗伯特·布列松《死囚越狱》（1956）
469、奥逊·威尔斯《赝品》（1973）
470、冈本喜八《大菩萨岭》（1966）
471、史蒂文·斯皮尔伯格《侏罗纪公园》（1993）
472、卡尔·西奥多·德莱叶《复仇之日》（1943）
473、让-吕克·戈达尔《我略知她一二》（1967）
474、李沧东《密阳》（2007）
475、冯小刚《甲方乙方》（1997）
476、泰伦斯·马利克《细细的红线》（1998）
477、是枝裕和《海街日记》（2015）
478、迈克尔·鲍威尔/路德维希·贝格尔/蒂姆·威伦《巴格达妙贼》（1940）
479、安德烈·塔可夫斯基《潜行者》（1979）
480、胡金铨《龙门客栈》（1967）
481、贝纳尔多·贝托鲁奇《戏梦巴黎》（2003）
482、侯孝贤《戏梦人生》（1993）
483、乔治·库克《一个明星的诞生》（1954）
484、亚利桑德罗·冈萨雷斯·伊纳里图《鸟人》（2014）
485、戴维·汉德《小鹿斑比》（1942）
486、陈冲《天浴》（1998）
487、比利·怀尔德《倒扣的王牌》（1951）
488、关锦鹏《胭脂扣》（1987）
489、柯蒂斯·汉森《洛城机密》（1997）
490、米开朗基罗·安东尼奥尼《蚀》（1962）
491、金·维多《源泉》（1949）
492、米歇尔·贡德里《暖暖内含光》（2004）
493、彼得·法雷里《绿皮书》（2018）
494、约翰·卡朋特《月光光心慌慌》（1978）
495、肖恩·贝克《橘色》（2015）
496、曹保平《李米的猜想》（2008）
497、弗兰克·卡普拉《一夜风流》（1934）
498、雷德利·斯科特《角斗士》（2000）
499、詹姆斯·惠尔《科学怪人的新娘》（1935）
500、赖纳·维尔纳·法斯宾德《恐惧吞噬灵魂》（1974）
501、詹姆斯·卡梅隆《阿凡达》（2009）
502、阿贝尔·费拉拉《坏中尉》（1992）
503、贾樟柯《江湖儿女》（2018）
504、弗朗索瓦·特吕弗《祖与占》（1962）
505、谢飞《湘女萧萧》（1986）
506、皮埃尔·保罗·帕索里尼《一千零一夜》（1974）
507、路易斯·布努埃尔《泯灭天使》（1962）
508、张艺谋《我的父亲母亲》（1999）
509、迈克尔·哈内克《白丝带》（2009）
510、史蒂文·斯皮尔伯格《决斗》（1971）
511、威廉·弗莱德金《驱魔人》（1973）
512、让-皮埃尔·梅尔维尔《独行杀手》（1967）
513、安东尼·曼/茂文·勒瓦鲁《暴君焚城录》（1951）
514、王家卫《堕落天使》（1995）
515、黑泽明《用心棒》（1961）
516、维克多·艾里斯《南方》（1983）
517、亨利-乔治·克鲁佐《恶魔》（1955）
518、格斯·范·桑特《我自己的爱达荷》（1991）
519、阿巴斯·基亚罗斯塔米《合法副本》（2010）
520、维托里奥·德西卡《风烛泪》（1952）
521、周星驰《功夫》（2004）
522、克里斯托弗·诺兰《蝙蝠侠》系列（2005/2008/2012）
523、阿彼察邦·韦拉斯哈古《幻梦墓园》（2015）
524、吉姆·贾木许《不法之徒》（1986）
525、恩斯特·刘别谦《天堂里的烦恼》（1932）
526、梅尔·吉布森《勇敢的心》（1995）
527、罗伯特·布列松《乡村牧师日记》（1951）
528、卢奎西亚·马特尔《无头的女人》（2008）
529、马修·卡索维茨《怒火青春》（1995）
530、严浩《滚滚红尘》（1990）
531、达内兄弟《单车少年》（2011）
532、贝纳尔多·贝托鲁奇《一九零零》（1976）
533、让·雷诺阿《布杜落水遇救记》（1932）
534、彼得·道格特《飞屋环游记》（2009）
535、今村昌平《复仇在我》（1979）
536、佩德罗·阿莫多瓦《欲望法则》（1987）
537、威廉·惠勒《黄金时代》（1946）
538、大卫·柯南伯格《蝴蝶君》（1993）
539、拉斯·霍尔斯道姆《狗脸的岁月》（1985）
540、阿基·考里斯马基《升空号》（1988）
541、让-吕克·戈达尔《蔑视》（1963）
542、安德里亚·阿诺德《鱼缸》（2009）
543、克日什托夫·基耶斯洛夫斯基《蓝白红三部曲之红》（1993）
544、阿尔弗雷德·希区柯克《爱德华大夫》（1945）
545、罗曼·波兰斯基《水中刀》（1962）
546、马丁·斯科塞斯《纯真年代》（1993）
547、阿瑟·佩恩《雌雄大盗》（1967）
548、今敏《红辣椒》（2006）
549、佩德罗·科斯塔《旺妲的房间》（2000）
550、布莱恩·德·帕尔玛《碟中谍》（1996）
551、金基德《漂流欲室》（2000）
552、大卫·林奇《妖夜慌踪》（1997）
553、约翰·卡萨维茨《影子》（1958）
554、尔冬升《色情男女》（1996）
555、凯莉·莱卡特《第一头牛》（2019）
556、埃米尔·库斯图里卡《爸爸去出差》（1985）
557、简·坎皮恩《天使与我同桌》（1990）
558、萨姆·佩金帕《亡命大煞星》（1972）
559、乔治·库克《茶花女》（1936）
560、约翰·卡朋特《战栗黑洞》（1991）
561、小津安二郎《早安》（1959）
562、斯坦利·库布里克《杀手》（1956）
563、英格玛·伯格曼《犹在镜中》（1961）
564、陈果《香港制造》（1997）
565、格劳贝尔·罗恰《七首雄狮》（1971）
566、玛格丽特·杜拉斯《印度之歌》（1975）
567、阿伦·雷乃《我的美国舅舅》（1980）
568、罗伯特·奥特曼《银色·性·男女》（1993）
569、查尔斯·劳顿《猎人之夜》（1955）
570、陈英雄《三轮车夫》（1995）
571、巴斯特·基顿《七次机会》（1925）
572、弗朗索瓦·特吕弗《日以作夜》（1973）
573、黑泽明《椿三十郎》（1962）
574、马丁·布莱斯特《午夜狂奔》（1988）
575、F·W·茂瑙《日出》（1927）
576、泰伦斯·马利克《生命之树》（2011）
577、弗兰克·卡普拉《史密斯先生到华盛顿》（1939）
578、查理·卓别林《淘金记》（1925）
579、达米安·斯兹弗隆《荒蛮故事》（2014）
580、安德烈·塔可夫斯基《镜子》（1975）
581、谢晋/黄蜀芹《牧马人》（1982）
582、让·雷诺阿《兰基先生的罪行》（1936）
583、亚利桑德罗·佐杜洛夫斯基《圣血》（1989）
584、斯派克·琼斯《成为约翰·马尔科维奇》（2013）
585、罗伯特·布列松《钱》（1983）
586、达伦·阿伦诺夫斯基《摔角王》（2008）
587、大卫·里恩《阿拉伯的劳伦斯》（1962）
588、吉尔莫·德尔·托罗《潘神的迷宫》（2006）
589、阿尔弗雷德·希区柯克《三十九级台阶》（1935）
590、吉姆·贾木许《地球之夜》（1991）
591、达里奥·阿基多《夜深血红》（1975）
592、萨蒂亚吉特·雷伊《大地之歌》（1955）
593、詹姆斯·惠尔《科学怪人》（1931）
594、英格玛·伯格曼《沉默》（1963）
595、大卫·柯南伯格《感官游戏》（1997）
596、宫崎骏《红猪》（1992）
597、路易斯·布努埃尔《被遗忘的人们》（1950）
598、佩德罗·阿莫多瓦《活色生香》（1997）
599、让-皮埃尔·梅尔维尔《影子部队》（1969）
600、冯小刚《大腕》（2001）
601、皮埃尔·保罗·帕索里尼《定理》（1968）
602、伊利亚·卡赞《伊甸园之东》（1955）
603、尼古拉斯·雷《兰闺艳血》（1950）
604、詹姆斯·卡梅隆《终结者2：审判日》（1984）
605、伍迪·艾伦《子弹横飞百老汇》（1994）
606、唐·希格尔《天外魔花》（1956）
607、托德·海因斯《天鹅绒金矿》（1998）
608、斯坦利·库布里克《大开眼戒》（1999）
609、罗曼·波兰斯基《冷血惊魂》（1965）
610、李·昂克里奇《寻梦环游记》（2017）
611、莱奥·卡拉克斯《神圣车行》（2012）
612、是枝裕和《如父如子》（2013）
613、大卫·林奇《内陆帝国》（2006）
614、科恩兄弟《缺席的人》（2001）
615、奥利弗·斯通《华尔街》（1987）
616、小津安二郎《我出生了，但......》（1932）
617、史蒂夫·麦奎因《为奴十二年》（2013）
618、侯孝贤《儿子的大玩偶》（1983）
619、阿彼察邦·韦拉斯哈古《恋爱症候群》（2006）
620、肯·罗素《卢丹的恶魔》（1971）
621、费德里科·费里尼《大路》（1954）
622、罗伯·莱纳《危情十日》（1990）
623、让·雷诺阿《乡间一日》（1946）
624、埃米尔·库斯图里卡《流浪者之歌》（1988）
625、曹保平《光荣的愤怒》（2006）
626、约翰·卡朋特《极度空间》（1988）
627、马丁·斯科塞斯《穷街陋巷》（1973）
628、维克多·艾里斯《闭上眼睛》（2023）
629、雅克·塔蒂《我的舅舅》（1958）
630、恩斯特·刘别谦《爱情无计》（1933）
631、今村昌平《鳗鱼》（1997）
632、吉姆·贾木许《咖啡与香烟》（2003）
633、尔冬升《门徒》（2007）
634、查理·卓别林《马戏团》（1928）
635、F·W·茂瑙《浮士德》（1926）
636、黑泽明《生之欲》（1952）
637、史蒂文·斯皮尔伯格《夺宝奇兵》（1981）
638、文森特·明奈利《火树银花》（1944）
639、韦斯·安德森《布达佩斯大饭店》（2014）
640、蒂姆·波顿《大鱼》（2003）
641、阿尔弗雷德·希区柯克《火车怪客》（1951）
642、阿方索·卡隆《地心引力》（2013）
643、威廉·惠勒《罗马假日》（1953）
644、丹尼斯·维伦纽瓦《囚徒》（2013）
645、洪常秀《之后》（2017）
646、英格玛·伯格曼《冬日之光》（1963）
647、克日什托夫·基耶斯洛夫斯基《爱情短片》（1988）
648、吴宇森《纵横四海》（1991）
649、许鞍华《男人四十》（2002）
650、约翰·卡萨维茨《爱的激流》（1984）
651、罗伯托·罗西里尼《游览意大利》（1954）
652、迈克·李《维拉·德雷克》（2004）
653、路易斯·布努埃尔《自由的幻影》（1974）
654、沟口健二《雨月物语》（1953）
655、李沧东《诗》（2010）
656、格斯·范·桑特《米尔克》（2008）
657、塞姆·萨迪克《乐土》（2022）
658、弗朗西斯·福特·科波拉《斗鱼》（1983）
659、贾樟柯《山河故人》（2015）
660、大卫·柯南伯格《裸体午餐》（1991）
661、张艺谋《有话好好说》（1997）
662、科恩兄弟《血迷宫》（1984）
663、欧格斯·兰斯莫斯《龙虾》（2015）
664、黑泽明《战国英豪》（1958）
665、米开朗基罗·安东尼奥尼《过客》（1974）
666、加斯帕·诺《不可撤销》（2002）
667、弗朗索瓦·欧容《登堂入室》（2003）
668、伍迪·艾伦《午夜巴黎》（2011）
669、王童《假如我是真的》（1981）
670、吉布里尔·迪奥普·曼贝蒂《土狼之旅》（1973）
671、唐·希格尔《肮脏的哈里》（1971）
672、侯孝贤《千禧曼波》（2001）
673、达内兄弟《罗塞塔》（1999）
674、是枝裕和《比海更深》（2016）
675、罗伯特·本顿《克莱默夫妇》（1979）
676、小津安二郎《茶泡饭之味》（1952）
677、罗曼·波兰斯基《雾都孤儿》（2005）
678、阿巴斯·基亚罗斯塔米《橄榄树下的情人》（1994）
679、朱利亚·蒂库诺《生吃》（2016）
680、阿尔弗雷德·希区柯克《艳贼》（1964）
681、蒂姆·波顿《剪刀手爱德华》（1990）
682、陈凯歌《黄土地》（1984）
683、梅雅·黛伦《在陆地上》（1944）
684、罗伯特·奥特曼《花村》（1971）
685、杜琪峰《黑社会》系列（2005/2006）
686、巴斯特·基顿《船长二世》（1928）
687、亚历山大·麦肯德里克《成功的滋味》（1957）
688、罗伯特·怀斯/杰罗姆·罗宾斯《西区故事》（1961）
689、威廉·弗莱德金《法国贩毒网》（1971）
690、伊利亚·卡赞《美国，美国》（1963）
691、史蒂文·斯皮尔伯格《猫鼠游戏》（2002）
692、迈克尔·鲍威尔/埃默里克·普雷斯伯格《黑水仙》（1947）
693、乔治·A·罗梅罗《活死人之夜》（1968）
694、比利·怀尔德《战地军魂》（1953）
695、阿方索·卡隆《人类之子》（2006）
696、谢晋《天云山传奇》（1981）
697、朗·霍华德《美丽心灵》（2001）
698、布莱恩·德·帕尔玛《凶线》（1981）
699、大卫·林奇《我心狂野》（1990）
700、托德·海因斯《远离天堂》（2002）
701、乔纳森·格雷泽《皮囊之下》（2013）
702、阿伦·雷乃《莫里埃尔》（1963）
703、大卫·里恩《桂河大桥》（1957）
704、罗伯托·罗西里尼《火山边缘之恋》（1950）
705、拉斯·霍尔斯道姆《喧闹村的孩子们》（1986）
706、托德·布朗宁《未知者》（1927）
707、黑泽明《梦》（1990）
708、芙茹弗·法洛克扎德《房屋是黑的》（1963）
709、阿涅斯·瓦尔达《南特的雅克·德米》（1991）
710、昆汀·塔伦蒂诺《金刚不坏》（2007）
711、李维克·伽塔克《金线》（1965）
712、王家卫《东邪西毒》（1994）
713、贝纳尔多·贝托鲁奇《巴黎最后的探戈》（1972）
714、让·雷诺阿《大幻影》（1939）
715、沃纳·赫尔佐格《卡斯帕尔·豪泽尔之谜》（1974）
716、阿彼察邦·韦拉斯哈古《记忆》（2021）
717、贾法尔·帕纳西《白气球》（1995）
718、恩斯特·刘别谦《卡门》（1918）
719、科恩兄弟《谋杀绿脚趾》（1998）
720、伍迪·艾伦《无线电时代》（1987）
721、格劳贝尔·罗恰《安托尼奥之死》（1969）
722、小林正树《切腹》（1962）
723、萨姆·佩金帕《比利小子》（1973）
724、成龙《A计划》（1983）
725、大卫·柯南伯格《毛骨悚然》（1975）
726、克莱尔·德尼《日烦夜烦》（2001）
727、阿尔弗雷德·希区柯克《贵妇失踪记》（1938）
728、斯坦利·库布里克《斯巴达克斯》（1960）
729、乔治·库克《费城故事》（1940）
730、冯小刚《集结号》（2007）
731、雅克·德米《柳媚花娇》（1967）
732、米洛斯·福尔曼《爵士年代》（1981）
733、巴瑞·莱文森《雨人》（1988）
734、是枝裕和《怪物》（2023）
735、米开朗基罗·安东尼奥尼《扎布里斯基角》（1970）
736、奥逊·威尔斯《午夜钟声》（1965）
737、佩德罗·科斯塔《马钱》（2014）
738、路易斯·布努埃尔《一条安达鲁狗》（1929）
739、唐·希格尔《逃出亚卡拉》（1979）
740、亚利桑德罗·佐杜洛夫斯基《鼹鼠》（1971）
741、蔡明亮《不散》（2003）
742、亨利-乔治·克鲁佐《恐惧的代价》（1953）
743、迈克尔·西米诺《天堂之门》（1980）
744、埃米尔·库斯图里卡《黑猫白猫》（1998）
745、迈克尔·鲍威尔/埃默里克·普雷斯伯格《平步青云》（1946）
746、克日什托夫·基耶斯洛夫斯基《机遇之歌》（1987）
747、文森特·明奈利《玉女奇男》（1952）
748、朱利安·杜维威尔/约瑟夫·冯·斯登堡/维克多·弗莱明《翠堤春晓》（1938）
749、让-皮埃尔·梅尔维尔《红圈》（1970）
750、西德尼·波拉克《走出非洲》（1985）
751、克里斯托弗·诺兰《追随》（1998）
752、安迪·沃霍尔《帝国大厦》（1965）
753、谢飞《香魂女》（1993）
754、西德尼·吕美特《电视台风云》（1976）
755、尔冬升《癫佬正传》（1986）
756、克林特·伊斯特伍德《完美的世界》（1993）
757、拉斯·冯·提尔《忧郁症》（2011）
758、巴斯特·基顿《稻草人》（1920）
759、今敏《东京教父》（2003）
760、英格玛·伯格曼《羞耻》（1968）
761、恩斯特·刘别谦《街角的商店》（1940）
762、毕赣《地球最后的夜晚》（2018）
763、丹尼斯·维伦纽瓦《边境杀手》（2015）
764、比利·怀尔德《满城风雨》（1974）
765、让·雷诺阿《衣冠禽兽》（1938）
766、安东尼·曼《万世英雄》（1961）
767、侯孝贤《海上花》（1998）
768、卡罗尔·里德《第三人》（1949）
769、黑泽明《红胡子》（1965）
770、达内兄弟《孩子》（2005）
771、弗朗索瓦·特吕弗《野孩子》（1970）
772、洪常秀《这时对，那时错》（2015）
773、杜琪峰《阿郎的故事》（1989）
774、山本映一《悲伤的贝拉多娜》（1973）
775、弗里茨·朗《血红街道》（1945）
776、路易斯·菲拉德《吸血鬼》（1915）
777、罗伯特·维内《卡里加里博士的小屋》（1920）
778、陈英雄《青木瓜之味》（1993）
779、是枝裕和《下一站，天国》（1998）
780、科恩兄弟《巴斯特·斯克鲁格斯的歌谣》（2018）
781、大卫·林奇《象人》（1980）
782、张艾嘉《相爱相亲》（2017）
783、克洛德·夏布洛尔《女人韵事》（1988）
784、蒂姆·波顿《艾德·伍德》（1994）
785、佩德罗·阿莫多瓦《崩溃边缘的女人》（1988）
786、迈克·尼科尔斯《毕业生》（1967）
787、凯莉·莱卡特《米克的近路》（2010）
788、西德尼·吕美特《奇幻核子战》（1964）
789、威廉·惠勒《偷龙转凤》（1966）
790、奥逊·威尔斯《上海小姐》（1947）
791、陈凯歌《风月》（1996）
792、陈木胜《天若有情》（1990）
793、伍迪·艾伦《曼哈顿》（1979）
794、罗伯托·贝尼尼《美丽人生》（1997）
795、欧格斯·兰斯莫斯《可怜的东西》（2023）
796、特瑞·琼斯《万世魔星》（1979）
797、约翰·福特《要塞风云》（1948）
798、凯瑟琳·毕格罗《拆弹部队》（2008）
799、卡尔·西奥多·德莱叶《吸血鬼》（1932）
800、加斯帕·诺《爱恋》（2015）
801、迈克尔·鲍威尔/埃默里克·普雷斯伯格《我走我路》（1945）
802、保罗·托马斯·安德森《私恋失调》（2002）
803、山姆·雷米《鬼玩人》（1981）
804、肖恩·贝克《佛罗里达乐园》（2017）
805、查理·卓别林《凡尔杜先生》（1947）
806、道格·里曼/保罗·格林格拉斯《谍影重重》系列（2002/2004/2007）
807、皮埃尔·保罗·帕索里尼《乞丐》（1961）
808、阿尔弗雷德·希区柯克《西北偏北》（1959）
809、斯派克·李《黑潮》（1992）
810、普莱斯顿·斯特奇斯《江湖异人传》（1940）
811、寺山修司《身毒丸》（1978）
812、米开朗基罗·安东尼奥尼/维姆·文德斯《云上的日子》（1995）
813、梅索斯兄弟/夏洛特·泽韦林《推销员》（1969）
814、卢奎西亚·马特尔《扎马》（2017）
815、大卫·里恩《印度之行》（1985）
816、德里克·贾曼《蓝》（1993）
817、大卫·柯南伯格《孽扣》（1988）
818、保罗·范霍文《机器战警》（1987）
819、吉姆·贾木许《神秘列车》（1989）
820、拉斯·冯·提尔《欧洲特快车》（1991）
821、古鲁·杜特《诗人悲歌》（1957）
822、罗伯托·罗西里尼《罗维雷将军》（1959）
823、巴斯特·基顿《一周》（1920）
824、管虎《斗牛》（2009）
825、瑟琳·席安玛《小妈妈》（2021）
826、伯格曼《豺狼时刻》（1968）
827、伍思薇《面子》（2004）
828、莱奥·卡拉克斯《新桥恋人》（1991）
829、安德鲁·斯坦顿《机器人总动员》（2008）
830、阿彼察邦·韦拉斯哈古《祝福》（2002）
831、乔治·库克/文森特·明奈利《梵高传》（1956）
832、让·维戈《亚特兰大号》（1934）
833、费尔南多·梅里尔斯《教宗的承继》（2019）
834、尼古拉斯·雷《荒漠怪客》（1954）
835、罗曼·波兰斯基《苔丝》（1979）
836、乔纳斯·梅卡斯《从一个快乐男人的生活中剪下不用的片段》（2013）
837、奉俊昊《汉江怪物》（2006）
838、雅克·塔蒂《于洛先生的假期》（1953）
839、保罗·索伦蒂诺《绝美之城》（2013）
840、朴赞郁《分手的决心》（2022）
841、比利·怀尔德《双重赔偿》（1944）
842、毕赣《路边野餐》（2016）
843、沃纳·赫尔佐格《史楚锡流浪记》（1977）
844、小津安二郎《小早川家之秋》（1961）
845、西德尼·吕美特《典当商》（1964）
846、罗伯特·德雷福《普通人》（1980）
847、泰伦斯·马利克《新世界》（2005）
848、胡金铨《迎春阁之风波》（1973）
849、迈克·李《又一年》（2010）
850、马丁·斯科塞斯《基督最后的诱惑》（1988）
851、阿布戴·柯西胥《阿黛尔的生活》（2013）
852、恩斯特·刘别谦《少奶奶的扇子》（1925）
853、克日什托夫·基耶斯洛夫斯基《十诫》（1989）
854、是枝裕和《奇迹》（2011）
855、科恩兄弟《醉乡民谣》（2013）
856、让·雷诺阿《逃兵》（1962）
857、王家卫《2046》（2004）
858、吉尔莫·德尔·托罗《水形物语》（2017）
859、迈克尔·哈内克《第七大陆》（1989）
860、刘伟强/麦兆辉《无间道》系列（2002/2003）
861、路易斯·布努埃尔《朦胧的欲望》（1977）
862、约翰·卡萨维茨《夫君》（1970）
863、黑泽明《野良犬》（1949）
864、虞戡平《搭错车》（1983）
865、金基德《弓》（2005）
866、罗伯特·罗德里格兹《杀出个黎明》（1996）
867、顾长卫《立春》（2007）
868、维托里奥·德西卡《意大利式结婚》（1964）
869、拉斯·霍尔斯道姆《不一样的天空》（1993）
870、陈果《榴莲飘飘》（2000）
871、亨弗莱·詹宁斯《提摩西的日记》（1945）
872、佩德罗·科斯塔《前进青春》（2006）
873、冯小刚《一九四二》（2012）
874、朱莉·黛许《大地的女儿》（1991）
875、侯孝贤《最好的时光》（2005）
876、让-皮埃尔·梅尔维尔《莱昂莫汉神父》（1961）
877、托德·海因斯《安然无恙》（1995）
878、乔治·梅里爱《月球旅行记》（1902）
879、乌斯曼·塞姆班《黑女孩》（1966）
880、阿涅斯·瓦尔达《幸福》（1965）
881、朱利亚·蒂库诺《钛》（2021）
882、克里斯·马克《堤》（1962）
883、布莱恩·德·帕尔玛《天堂魅影》（1974）
884、查理·卓别林《舞台春秋》（1952）
885、亚利桑德罗·佐杜洛夫斯基《现实之舞》（2013）
886、萨蒂亚吉特·雷伊《大都会》（1963）
887、丹尼斯·维伦纽瓦《银翼杀手2049》（2017）
888、约翰·施莱辛格《午夜牛郎》（1969）
889、小林正树《夺命剑》（1967）
890、F·W·茂瑙《最卑贱的人》（1924）
891、理查德·阿滕伯勒《甘地传》（1982）
892、奥逊·威尔斯《历劫佳人》（1958）
893、艾伦·J·帕库拉《总统班底》（1976）
894、安迪·沃霍尔《雀西女郎》（1966）
895、特瑞·吉列姆《妙想天开》（1985）
896、米洛斯·福尔曼《消防员舞会》（1967）
897、史蒂芬·戴德利《跳出我天地》（2000）
898、乔治·弗朗叙《动物之血》（1949）
899、乔治·A·罗梅罗《活死人黎明》（1978）
900、弗朗西斯·福特·科波拉《造雨人》（1997）
901、大卫·里恩《相见恨晚》（1945）
902、欧格斯·兰斯莫斯《狗牙》（2009）
903、阿基·考里斯马基《浮云世事》（1996）
904、克日什托夫·基耶斯洛夫斯基《影迷》（1979）
905、皮埃尔·保罗·帕索里尼《罗马妈妈》（1962）
906、胡金铨《忠烈图》（1975）
907、罗伯·莱纳《当哈利遇到莎莉》（1989）
908、拉斯·冯·提尔《狗镇》（2003）
909、约翰·卡朋特《血溅十三号警署》（1976）
910、彼得·威尔《悬崖上的野餐》（1975）
911、山姆·雷米《鬼玩人2》（1987）
912、杜琪峰《机动部队》（2003）
913、梅尔·布鲁克斯《制片人》（1968）
914、是枝裕和《幻之光》（1995）
915、克莱尔·德尼《35杯朗姆酒》（2008）
916、埃米尔·库斯图里卡《你还记得多莉·贝尔吗？》（1981）
917、史蒂文·索德伯格《性、谎言和录像带》（1989）
918、陈英雄《夏天的滋味》（2000）
919、罗伯特·布列松《穆谢特》（1967）
920、乔纳森·格雷泽《利益区域》（2023）
921、西德尼·波拉克《窈窕淑男》（1982）
922、米歇尔·阿扎纳维西于斯《艺术家》（2011）
923、让·雷诺阿《水姑娘》（1925）
924、罗曼·波兰斯基《荒岛惊魂》（1966）
925、肖恩·贝克《待绽蔷薇》（2012）
926、罗伯特·奥尔德里奇《兰闺惊变》（1962）
927、西德尼·吕美特《长夜漫漫路迢迢》（1962）
928、约瑟夫·L·曼凯维奇《幽灵与未亡人》（1947）
929、娄烨《推拿》（2014）
930、伊利亚·卡赞《天涯何处觅知音》（1961）
931、保罗·范霍文《本能》（1992）
932、乔治·罗伊·希尔《骗中骗》（1973）
933、迈克尔·哈内克《机遇编年史的71块碎片》（1994）
934、迈克尔·斯诺《波长》（1967）
935、贾法尔·帕纳西《出租车》（2015）
936、克里斯托弗·诺兰《奥本海默》（2023）
937、关家永/丹尼尔·施纳特《瞬息全宇宙》（2022）
938、雷内·克莱尔《间奏曲》（1924）
939、查理·卓别林《寻子遇仙记》（1921）
940、达内兄弟《他人之子》（2002）
941、乌斯曼·塞姆班《哈拉》（1975）
942、阿尔弗雷德·希区柯克《美人计》（1946）
943、米格尔·戈麦斯《禁忌》（2012）
944、乔丹·皮尔《逃出绝命镇》（2017）
945、艾伦·霍福德/梅索斯兄弟/墨菲·梅耶《灰色花园》（1975）
946、弗朗西斯·福特·科波拉《窃听大阴谋》（1974）
947、丹尼斯·维伦纽瓦《沙丘》（2021）
948、伍迪·艾伦《蓝色茉莉》（2013）
949、让·雷诺阿《大泽之水》（1941）
950、侯孝贤《刺客聂隐娘》（2015）
951、欧格斯·兰斯莫斯《宠儿》（2018）
952、克洛德·夏布洛尔《屠夫》（1970）
953、陈凯歌《荆轲刺秦王》（1998）
954、阿基·考里斯马基《勒阿弗尔》（2011）
955、哈罗德·雷米斯《土拨鼠之日》（1993）
956、拉斯·冯·提尔《女性瘾者：第二部》（2013）
957、特瑞·琼斯/特瑞·吉列姆《人生七部曲》（1983）
958、罗伯·莱纳《摇滚万万岁》（1984）
959、约翰·卡萨维茨《谋杀地下老板》（1976）
960、保罗·罗沙《里斯本之恋》（1963）
961、佩德罗·科斯塔《何处安放你藏起的笑容》（2001）
962、科恩兄弟《米勒的十字路口》（1990）
963、卡尔·西奥多·德莱叶《葛楚》（1964）
964、陆川《可可西里》（2004）
965、韦斯·安德森《月升王国》（2012）
966、乔治·弗朗叙《没有面孔的眼睛》（1960）
967、瑟琳·席安玛《假小子》（2011）
968、黑泽明《泥醉天使》（1948）
969、尼古拉斯·雷《夜逃鸳鸯》（1948）
970、史蒂文·斯皮尔伯格《幸福终点站》（2004）
971、吕克·贝松《这个杀手不太冷》（1994）
972、塔西姆·辛《坠入》（2006）
973、奥逊·威尔斯《奥赛罗》（1951）
974、王家卫《旺角卡门》（1988）
975、巴斯特·基顿《摄影师》（1928）
976、德里克·贾曼《英格兰末日》（1987）
977、迈克尔·哈内克《巴黎浮世绘》（2000）
978、罗伯托·罗西里尼《战火》（1946）
979、黄健中《过年》（1991）
980、巴里·詹金斯《月光男孩》（2016）
981、吉洛·彭泰科沃《零点地带》（1960）
982、马丁·斯科塞斯《禁闭岛》（2010）
983、吉布里尔·迪奥普·曼贝蒂《土狼》（1992）
984、保罗·托马斯·安德森《一战再战》（2025）
985、韦斯·克雷文《猛鬼街》（1984）
986、查尔斯·伯内特《杀羊人》（1978）
987、克莱尔·德尼《入侵者》（2004）
988、凯莉·莱卡特《温蒂和露西》（2008）
989、查理·考夫曼《纽约提喻法》（2008）
990、迈克·李《赤裸裸》（1993）
991、冯小刚《天下无贼》（2004）
992、乔治·梅里爱《天文学家之梦》（1898）
993、亚利桑德罗·佐杜洛夫斯基《诗无尽头》（2016）
994、约翰·沃特斯《粉红色的火烈鸟》（1972）
995、托德·布朗宁《三个邪恶的人》（1925）
996、阿基·考里斯马基《波西米亚生活》（1992）
997、托比·霍珀《德州电锯杀人狂》（1974）
998、小林正树《人间的条件》系列（1959-1961）
999、萨姆·佩金帕《午后枪声》（1962）
1000、加斯帕·诺《遁入虚无》（2009）
`;

// 2) 自动解析：rank / director / title / year
function parseLine(line: string) {
  const s = line.trim();
  if (!s) return null;

  // rank：支持 “1、” “1.” “1 ” 这类写法
  const mRank = s.match(/^(\d+)\s*(?:[、\.,，:：\)\）\-]|)\s*/);
  if (!mRank) return null;
  const rank = Number(mRank[1]);
  const rest = s.slice(mRank[0].length).trim();

  // 找《 》与（ ）的位置
  const iL = rest.indexOf("《");
  const iR = rest.lastIndexOf("》");
  const iY1 = rest.lastIndexOf("（");
  const iY2 = rest.lastIndexOf("）");

  if (iL === -1 || iR === -1 || iY1 === -1 || iY2 === -1 || iR < iL || iY2 < iY1) {
    // 容错：解析失败就把整行塞进 title，保证不崩
    return { rank, director: "", title: rest, year: "" };
  }

  const director = rest.slice(0, iL).trim();

  // title：把《…》内部 + “》”后面到“（”前的后缀一起保留（例如 “《教父》系列”）
  const titleCore = rest.slice(iL + 1, iR).trim();
  const suffix = rest.slice(iR + 1, iY1).trim();
  const title = (titleCore + (suffix ? suffix : "")).trim();

  // year：允许不是纯数字（例如你那条《双峰》系列的复合年份说明）
  const year = rest.slice(iY1 + 1, iY2).trim();

  return { rank, title, director, year };
}

type Film = { rank: number; title: string; director: string; year: string };

const films = rawList
  .split(/\r?\n/)
  .map((l: string) => parseLine(l))
  .filter((x): x is Film => x !== null)
  .sort((a, b) => a.rank - b.rank);
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
  </head>

  <body>
    <main class="page">
      <div class="top-actions">
        <a class="back-home" href="/">← 返回主页</a>
      </div>

      <header class="hero">
        <div class="hero-img">
          <img src="/2001.jpg" alt="电影千佳" />
        </div>

        <div class="hero-text">
          <div class="kicker">电影榜单</div>
          <h1 class="title">{pageTitle}</h1>
          <p class="subtitle">{subtitle}</p>
        </div>
      </header>

      <section class="panel">
        <ol class="grid">
          {films.map((f) => (
            <li class="card">
              <div class="badge">{f.rank}</div>
              <div>
                <div class="film-title">{f.title}</div>
                <div class="meta">{f.director}{f.director ? " · " : ""}{f.year}</div>
              </div>
            </li>
          ))}
        </ol>
      </section>

      <footer class="footnote">
        <span class="line">所谓生活，无非时间、空间和你。</span>
      </footer>
    </main>

    <style>
      body{ margin:0; font-family: system-ui,"PingFang SC","Microsoft YaHei",sans-serif; background:#fff; color:#111; }
      .page{ max-width:980px; margin:0 auto; padding:40px 20px 70px; }
      .top-actions{ display:flex; justify-content:flex-start; margin-bottom:16px; }
      .back-home,.back-muted{ text-decoration:none; font-size:14px; padding:6px 10px; border-radius:10px; color:#777; }
      .back-home:hover,.back-muted:hover{ background:#f0f0f0; color:#111; }

      .hero-img img{ width:100%; border-radius:14px; border:1px solid #e5e5e5; }
      .hero-text{ margin-top:20px; }
      .kicker{ font-size:13px; letter-spacing:.14em; opacity:.6; }
      .title{ font-size:clamp(34px,5vw,54px); margin:8px 0 0; }
      .subtitle{ color:#777; margin-top:10px; }

      .panel{ margin-top:28px; }
      .grid{ list-style:none; padding:0; display:grid; gap:10px; }
      .card{ display:grid; grid-template-columns:56px 1fr; gap:14px; padding:14px; background:#f5f5f5; border-radius:14px; }
      .badge{ font-weight:700; }
      .film-title{ font-weight:600; }
      .meta{ color:#666; font-size:13px; margin-top:6px; }

      .footnote{ margin-top:30px; padding-top:18px; border-top:1px solid #e5e5e5; text-align:center; color:#777; font-size:14px; }
    </style>
  </body>
</html>
